#home .hero-banner {
  width: 100%;
  position: relative;
  background-color: var(--primary-dark);
}
#home .hero-banner .container {
  padding: 0;
}
#home .hero-banner .content-data {
  position: relative;
}
#home .hero-banner .content-data .home-swiper .swiper-pagination {
  padding-bottom: 14px;
  display: flex;
  justify-content: center;
  gap: 14px;
}
@media (max-width: 1152px) {
  #home .hero-banner .swiper-button-prev {
    margin-left: 0px;
  }
  #home .hero-banner .swiper-button-next {
    margin-right: 0px;
  }
}
@media (max-width: 768px) {
  #home .hero-banner {
    margin-top: 60px;
  }
  #home .hero-banner .content-data .home-swiper .swiper-pagination {
    gap: 0px;
  }
}
@media (max-width: 650px) {
  #home .hero-banner .swiper-button-prev, #home .hero-banner .swiper-button-next {
    width: 28px;
    height: 28px;
  }
}
#home .who-we-are {
  background: linear-gradient(to bottom, #091880 0%, #003fa9 20%, #003fa9 80%, #091880 100%);
}
#home .who-we-are .container {
  padding: 0;
}
#home .who-we-are .content-data {
  background-image: url("../images/backgrounds/who-weare-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#home .who-we-are .content-data .content-holder {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 100%;
}
#home .who-we-are .content-data .content-holder .title-group {
  padding-right: 140px;
}
#home .products {
  background-image: url("../images/backgrounds/products-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#home .products .container {
  padding: 0;
}
#home .products .content-data {
  width: 100%;
  position: relative;
  padding-bottom: 120px;
  background: linear-gradient(to bottom, #091880 0%, rgba(0, 63, 169, 0.0666666667) 20%, rgba(0, 63, 169, 0.0666666667) 60%, #091880 100%);
}
#home .products .content-data .product-holder {
  display: grid;
  grid-template-columns: 5fr 3fr;
  position: relative;
}
#home .products .content-data .product-holder .left {
  padding: 40px 40px 0 80px;
}
#home .products .content-data .product-holder .left .title-group {
  gap: 12px;
}
#home .products .content-data .product-holder .left .img-cont {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#home .products .content-data .product-holder .left .img-cont img {
  width: 100%;
}
#home .products .content-data .product-holder .bottom-right-img {
  position: relative;
}
#home .products .content-data .product-holder .bottom-right-img img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}
#home .products .content-data .organization-holder {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 80px;
}
#home .products .content-data .organization-holder .content {
  max-width: 910px;
}
#home .products .content-data .organization-holder .content .title-group {
  gap: 24px;
}
#home .products .content-data .box-holder {
  position: relative;
  overflow: hidden;
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}
#home .products .content-data .box-holder .box {
  position: relative;
  width: 100%;
  padding: 20px 40px 20px 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
#home .products .content-data .box-holder .box .title-group {
  position: relative;
  margin-bottom: 0px;
  gap: 12px;
}
#home .products .content-data .box-holder .box .title-group > h1 {
  font-size: 60px;
  line-height: 72px;
}
#home .products .content-data .box-holder .box .title-group p {
  font-size: 15px;
  text-align: left;
}
#home .products .content-data .box-holder .box .title-group h3 {
  white-space: nowrap;
}
#home .products .content-data .box-holder .box .button-primary {
  width: fit-content;
}
#home .products .content-data .box-holder .box1::before {
  content: "";
  display: block;
  background: #0053bb;
  position: absolute;
  left: -105px;
  right: 0;
  top: 0;
  z-index: 0;
  height: 100%;
  transform: skewX(-23deg);
}
#home .products .content-data .box-holder .box2 .button-primary {
  background-color: #3f52f7;
}
#home .products .content-data .box-holder .box2 .button-primary:hover {
  color: var(--primary-dark);
}
#home .products .content-data .box-holder .box2::before {
  content: "";
  display: block;
  background: #ff0029;
  position: absolute;
  left: 0px;
  right: -100px;
  top: 0;
  z-index: 0;
  height: 100%;
  transform: skewX(-23deg);
}
@media (max-width: 1152px) {
  #home .who-we-are .content-data .title-group {
    padding-right: 60px;
  }
  #home .who-we-are .content-data .top-left-img img {
    width: 400px;
  }
  #home .products .content-data {
    padding-bottom: 60px;
  }
  #home .products .content-data .product-holder .bottom-right-img img {
    width: 90%;
  }
}
@media (max-width: 1024px) {
  #home .who-we-are .content-data .title-group {
    padding-right: 40px;
    padding-top: 20px;
  }
  #home .who-we-are .content-data .top-left-img img {
    width: 300px;
  }
  #home .products .content-data {
    padding-bottom: 60px;
  }
  #home .products .content-data .product-holder .bottom-right-img img {
    width: 90%;
  }
  #home .products .content-data .organization-holder {
    padding-top: 20px;
  }
  #home .organization-holder .content {
    max-width: none;
    padding: 0 40px;
  }
}
@media (max-width: 768px) {
  #home .who-we-are .content-data .content-holder .title-group {
    padding-right: 40px;
  }
  #home .products .content-data .product-holder .left {
    padding-left: 40px;
    padding-right: 20px;
  }
  #home .products .content-data .box-holder {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 480px) {
  #home .who-we-are .content-data .content-holder {
    grid-template-columns: 1fr;
  }
  #home .who-we-are .content-data .top-left-img {
    display: none;
  }
  #home .who-we-are .content-data .content-holder .title-group {
    padding: 20px;
  }
  #home .products .content-data .product-holder {
    grid-template-columns: 1fr;
  }
  #home .products .content-data .product-holder .bottom-right-img {
    display: none;
  }
  #home .products .content-data .product-holder .left {
    padding: 20px;
  }
}