.products-section, .product-details-section {
  padding: 70px 0 100px 0;
  background: url("../images/backgrounds/products-bg.jpg") no-repeat center/cover;
  overflow: hidden;
}

#products .hero-banner {
  position: relative;
}
#products .hero-banner .overlay-image {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  height: 100%;
}
#products .products-section {
  padding: 70px 0 100px 0;
  background: url("../images/backgrounds/products-bg.jpg") no-repeat center/cover;
  overflow: hidden;
}
#products .products-section .title-group.horizontal {
  display: flex;
  gap: 100px;
  justify-content: space-between;
  padding: 0 60px;
  margin-bottom: 80px;
}
#products .products-section .title-group.horizontal h1 {
  font-weight: 600;
  font-size: 73px;
  line-height: 80px;
  width: 100%;
  letter-spacing: 2px;
}
#products .products-section .title-group.horizontal p {
  text-align: left;
  line-height: 28px;
}
#products .products-section .products-with-categories .title-group {
  margin-bottom: 28px;
}
#products .products-section .products-with-categories .title-group h3 {
  font-size: 44px;
  letter-spacing: -1px;
  color: #ffffff;
  font-weight: 700;
}
#products .products-section .products-with-categories .cards-holder {
  display: flex;
  flex-wrap: nowrap;
  gap: 52px;
  margin: 0 90px;
  justify-content: center;
}
#products .products-section .products-with-categories .cards-holder .cat-box {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 33%;
  height: 470px;
  padding: 40px 30px 80px 20px;
}
#products .products-section .products-with-categories .cards-holder .cat-box .bg {
  transform: skewX(-15deg);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
}
#products .products-section .products-with-categories .cards-holder .cat-box .bg::before {
  position: absolute;
  content: "";
  background: #0053bb;
  width: 100%;
  height: 100%;
}
#products .products-section .products-with-categories .cards-holder .cat-box:nth-child(even) .bg::before {
  background: var(--primary-pink);
}
#products .products-section .products-with-categories .cards-holder .cat-box .image-holder {
  z-index: 1;
  max-width: 90%;
  margin: 40px 0px 40px 40px;
}
#products .products-section .products-with-categories .cards-holder .cat-box .image-holder .figure {
  width: 100%;
}
#products .products-section .products-with-categories .cards-holder .cat-box h3 {
  z-index: 1;
  font-size: 40px;
  max-width: 240px;
  text-align: center;
  height: 70px;
}
#products .products-section .products-with-categories .products {
  margin-top: 37px;
}
#products .products-section .products-with-categories .products .cards-holder {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 60%;
  margin: auto;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
#products .products-section .products-with-categories .products .cards-holder .cat-box {
  width: 100%;
}
@media (max-width: 1440px) {
  #products .hero-banner .container .title-group {
    left: 125px;
  }
  #products .products-section .title-group.horizontal {
    padding: 0 30px;
    margin-bottom: 60px;
    gap: 60px;
  }
  #products .products-section .title-group.horizontal h1 {
    font-size: 60px;
  }
}
@media (max-width: 1200px) {
  #products .hero-banner .container .title-group {
    left: 60px;
  }
  #products .hero-banner .container .title-group h1 {
    font-size: 60px;
  }
  #products .products-section .title-group.horizontal {
    padding: 0 30px;
    margin-bottom: 60px;
    gap: 60px;
  }
  #products .products-section .title-group.horizontal h1 {
    font-size: 60px;
    line-height: 1;
  }
  #products .products-section .products-with-categories .cards-holder .cat-box {
    height: 360px;
  }
  #products .products-section .products-with-categories .cards-holder .cat-box .image-holder {
    margin-top: 60px;
  }
  #products .products-section .products-with-categories .cards-holder .cat-box h3 {
    font-size: 32px;
  }
}
@media (max-width: 1024px) {
  #products .products-section .title-group.horizontal p {
    line-height: 1.5;
  }
  #products .products-section .products-with-categories .cards-holder {
    margin: 0 45px;
    gap: 20px;
  }
  #products .products-section .products-with-categories .cards-holder .cat-box {
    height: 250px;
    padding: 20px 20px 40px 20px;
  }
  #products .products-section .products-with-categories .cards-holder .cat-box .image-holder {
    margin-top: 30px;
  }
  #products .products-section .products-with-categories .cards-holder .cat-box h3 {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  #products .hero-banner .container .title-group h1 {
    font-size: 42px;
  }
  #products .products-section {
    padding: 30px 0 30px 0;
  }
  #products .products-section .title-group.horizontal {
    padding: 0px;
    gap: 20px;
    margin-bottom: 20px;
  }
  #products .products-section .title-group.horizontal h1 {
    font-size: 36px;
  }
  #products .products-section .title-group.horizontal p {
    line-height: 1.2;
  }
  #products .products-section .products-with-categories .title-group h3 {
    font-size: 32px;
  }
  #products .products-section .products-with-categories .cards-holder {
    gap: 20px;
  }
  #products .products-section .products-with-categories .cards-holder {
    margin: 0 40px;
  }
  #products .products-section .products-with-categories .cards-holder .cat-box {
    height: 230px;
  }
  #products .products-section .products-with-categories .cards-holder .cat-box .image-holder {
    margin-top: 10px;
  }
}
@media (max-width: 480px) {
  #products .hero-banner .container .title-group {
    left: 20px;
  }
  #products .hero-banner .container .title-group h1 {
    font-size: 32px;
  }
  #products .hero-banner .overlay-image {
    right: -50px;
  }
  #products .products-section .title-group.horizontal {
    flex-direction: column;
    align-items: center;
  }
  #products .products-section .title-group.horizontal h1 {
    font-size: 28px;
    text-align: center;
  }
  #products .products-section .title-group.horizontal p {
    text-align: center;
  }
  #products .products-section .products-with-categories .title-group h3 {
    font-size: 24px;
  }
  #products .products-section .products-with-categories .cards-holder {
    flex-direction: column;
  }
  #products .products-section .products-with-categories .cards-holder .cat-box {
    width: 100%;
  }
  #products .products-section .products-with-categories .products .cards-holder {
    grid-template-columns: 1fr;
    max-width: 80%;
  }
  #products .products-section .products-with-categories .products .cards-holder .cat-box {
    height: 230px;
  }
  #products .products-section .products-with-categories .cards-holder .cat-box .image-holder {
    margin-bottom: 0px;
  }
  #products .products-section .products-with-categories .cards-holder .cat-box .image-holder img {
    height: 75%;
  }
}
@media (max-width: 376px) {
  #products .products-section .products-with-categories .products .cards-holder .cat-box {
    height: 240px;
  }
  #products .products-section .products-with-categories .cards-holder .cat-box .image-holder {
    margin: 10px 0 20px 20px;
  }
  #products .products-section .products-with-categories .cards-holder .cat-box {
    padding: 20px;
  }
}

#products-details .title-group {
  gap: 25px;
  margin: 0 auto 70px auto;
  justify-items: center;
  max-width: 822px;
}
#products-details .title-group h1 {
  line-height: 75px;
}
#products-details .product-details-section {
  padding-top: 90px;
}
#products-details .product-details-section.pouched .table-wrapper {
  margin-bottom: 120px;
}
#products-details .product-details-section.pouched .table-wrapper table tbody {
  height: 370px;
}
#products-details .product-details-section.canned .table-wrapper td {
  max-width: 20%;
  width: 100%;
}
#products-details .product-details-section.canned .table-wrapper tbody td {
  padding: 15px 40px;
  border-right: 3px solid #00226d;
}
#products-details .product-details-section.canned .table-wrapper tbody td.medium {
  border: none;
}
#products-details .product-details-section .table-wrapper {
  padding: 0 45px;
  overflow-x: scroll;
}
#products-details .product-details-section .table-wrapper table {
  background: white;
  border-radius: 14px;
  width: 100%;
  border-spacing: 0;
  overflow: hidden;
  width: 100%;
  min-width: 600px;
  box-shadow: 12px 12px 20px rgba(0, 0, 0, 0.9);
}
#products-details .product-details-section .table-wrapper table td {
  max-width: 33%;
  width: 100%;
}
#products-details .product-details-section .table-wrapper table thead {
  background: var(--primary-color);
  color: white;
  height: 85px;
}
#products-details .product-details-section .table-wrapper table thead tr {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
#products-details .product-details-section .table-wrapper table tbody tr:not(:last-child) td {
  border-bottom: 3px solid #00226d;
}
#products-details .product-details-section .table-wrapper table tbody tr {
  font-size: 20px;
  line-height: 28px;
  color: #00226d;
  font-weight: 500;
}
#products-details .product-details-section .table-wrapper table tbody tr td {
  text-align: center;
  font-weight: 600;
  padding: 38px 40px;
}
#products-details .product-details-section .table-wrapper table tbody tr td p {
  max-width: 350px;
  margin: auto;
}
#products-details .product-details-section .table-wrapper table tbody tr td:not(:last-child) {
  border-right: 3px solid #00226d;
}
#products-details .product-details-section .table-wrapper table tbody tr td.medium p {
  max-width: 275px;
  margin: auto;
}
@media (max-width: 1440px) {
  #products-details .product-details-section .table-wrapper {
    padding: 0 20px;
  }
}
@media (max-width: 1280px) {
  #products-details .hero-banner .container .title-group {
    left: 60px;
  }
  #products-details .hero-banner .container .title-group h1 {
    font-size: 60px;
  }
  #products-details .product-details-section .table-wrapper {
    padding: 0;
  }
}
@media (max-width: 1024px) {
  #products-details .product-details-section {
    padding: 30px 0 50px;
  }
  #products-details .hero-banner .container .title-group h1 {
    font-size: 50px;
  }
  #products-details .product-details-section.pouched .table-wrapper {
    margin-bottom: 0;
  }
  #products-details .product-details-section.pouched .table-wrapper table tbody {
    height: 300px;
  }
}
@media (max-width: 875px) {
  #products-details .hero-banner .container .title-group {
    left: 20px;
  }
  #products-details .hero-banner .container .title-group h1 {
    font-size: 42px;
  }
  #products-details .product-details-section .table-wrapper table tbody tr td:not(:last-child) {
    padding: 10px;
    font-size: 16px;
    border-width: 2px;
  }
  #products-details .product-details-section .table-wrapper table tbody tr td:last-child {
    padding: 10px;
    font-size: 16px;
    border-width: 2px;
  }
  #products-details .title-group {
    margin-bottom: 20px;
    gap: 0px;
  }
  #products-details .product-details-section {
    padding-top: 0px;
  }
  #products-details .product-details-section .table-wrapper table thead {
    height: 60px;
  }
  #products-details .product-details-section .table-wrapper table thead tr {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  #products-details .hero-banner .container .title-group {
    left: 20px;
  }
  #products-details .hero-banner .container .title-group h1 {
    font-size: 36px;
  }
}