:root{
      --primary-opacity : 1;
      --primary-color : #1553a3;
      --primary-dark : #00186b;
      --primary-highlight : #D2EAFF;
      --primary-black-gray : #111111;
      --primary-dark-gray : #222222;
      --primary-red : #ff0029;
      --primary-pink: #f73f40;
      --primary-pink-light: #fd8a8a;
      

      --dark-gray : #333333;
      --medium-gray : #666;
      --light-blue : #091579;
      --light-gray : #F5F5F5;
      --content-size: 16px;
      --container-width: 1920px;
      --container-padding: 50px;
      --primary-font: 'AvenirRegular';
      --button-height: 35px;
      --input-height: 40px;
} 