#about-main{
    .hero-banner{
        margin-top: 84px;
        width: 100%; position: relative;
        background-color: var(--primary-dark);
        .container{padding: 0;}

        .content-data{
            position: relative;
            .home-swiper{
                .swiper-pagination{padding-bottom: 14px; display: flex; justify-content: center; gap: 14px}
            }
        }

        @media (max-width: 1152px) {
            .swiper-button-prev{margin-left: 0px;}
            .swiper-button-next{margin-right: 0px}
        }
        @media (max-width: 768px) {
            .content-data .home-swiper{.swiper-pagination{gap: 0px} }
            margin-top: 60px;
        }
        @media (max-width: 650px) {
            .swiper-button-prev, .swiper-button-next{width: 28px; height: 28px;}
        }
    }

    .who-we-are{
        //height: 745px;
        background: linear-gradient(to bottom, #091880 0%, #003fa9 20%,  #003fa9 80%, #091880 100%);
        .container{padding: 0}
        .content-data{
            position: relative;
            display: flex; gap: 40px;
            padding: 0px 160px 0 0;
            // overflow: hidden;
            background-image: url('../images/backgrounds/about-bg1.jpg'); background-size: cover; background-repeat: no-repeat;

            .bottom-img{
                position: relative;
                width: 782px;
                img{width: 100%;}
            }
        }
    }

    .world{
       // height: 1692px;
       background: linear-gradient(to bottom, #091880 0%, #003fa911 20%,  #003fa911 60%, #091880 100%);

        .container{padding: 0}
        .content-data{
            background-image: url('../images/backgrounds/about-bg2.jpg'); background-size: cover; background-repeat: no-repeat;
            width: 100%;
            position: relative; //height: 1692px; 
            padding: 20px 70px 20px 24px;

            .product-holder{
                padding: 0 240px;
                .title-group{gap: 12px; padding: 0px 200px; .description-holder{p{line-height: 1;}}}
                .img-cont{ display: grid; grid-template-columns: 1fr 1fr 1fr; img{width: 100%;} }
            }

            .map-holder{
                width: 100%;
                display: flex;
                justify-content: center;
                padding-top: 120px;
                .content{
                    .title-group{gap: 24px;}
                }
                .world-map{
                    position: relative;
                    .map-legend{
                        position: absolute;
                        left: 100px; bottom: 100px;
                        z-index: 100;
                        width: fit-content;
                        padding: 20px;
                        border-radius: 3px;
                        background-color: #050943;
                        border: 2px solid #ffffff;}
                        ul{margin: 0; padding-left: 20px; list-style-type: decimal; color: white; font-weight: bold; font-size: 18px; display: grid; gap: 14px; li{padding-left: 15px;}}
                }
            }

            .box-holder{
                position: relative;
                display: grid;
                gap: 60px;
                grid-template-columns: 1fr 1fr;
                width: 100%;
                .box{ position: relative; width: 100%;  padding: 35px 60px 30px 100px; .title-group{position: relative; margin-bottom: 0px; gap: 12px; >h1{font-size: 60px; line-height: 72px}; p{font-size: 19px; text-align: left; line-height: 24px; }}
                    display: flex; flex-direction: column; justify-content: space-between; gap: 20px; align-items: center; 
                    .button-primary{width: fit-content;}
                }

                .box1{&::before{ content: ''; display: block; background: #0053bb; position: absolute; left: -105px; right: 0; top: 0; z-index: 0; height: 100%; transform: skewX(-23deg); } }
                .box2{.button-primary{background-color: #3f52f7; &:hover{color: var(--primary-dark)}} &::before{ content: ''; display: block; background: #ff0029; position: absolute; left: 0px; right: -100px; top: 0; z-index: 0; height: 100%; transform: skewX(-23deg); } }
            }
        }
    }

    .what-we-do{
        // height: 1692px;
    
        background: linear-gradient(to bottom, #091880 0%, #003fa911 20%,  #003fa911 60%, #091880 100%);
 
         .container{padding: 0}
         .content-data{
             background-image: url('../images/backgrounds/about-bg3.jpg'); background-size: cover; background-repeat: no-repeat;
             width: 100%;
             position: relative; //height: 1692px; 
             padding: 20px 0 80px;
             overflow: hidden;
 
             .product-holder{
                 .title-group{gap: 12px; padding: 0px 360px; .description-holder{p{line-height: 1;}}}
                 .img-cont{ display: grid; grid-template-columns: 1fr 1fr 1fr; img{width: 100%;} }
             }
 
             .box-holder{
                padding: 60px 0;
                position: relative;
                display: flex;
                gap: 30px;
                width: 100%;
                .box{
                    position: relative; padding-bottom: 20px;
                    .bg{width: 100%; height: 90%; background-color: #0053bb;
                      top: 50%; left: 0; position: absolute; z-index: 0;
                      transform: skewX(-28deg) translateY(-50%);
                    }
                    .title-group{gap: 0px; position: relative; height: 100%; text-align: left; .description-holder{p{font-size: 18px; line-height: 1;}}}
                    img{position: absolute; z-index: 0; top: 50%; transform: translateY(-50%);}
                    &:nth-child(1){
                        width: 53%;
                        .title-group{padding: 0 20px 40px 410px;  .description-holder{p{text-align: left;} .text-shape{width: 120px; height: 100%; float: left; shape-outside: polygon(0% 0%, 60% 0%, 0% 100%, 0% 100%);} }}
                        img{left: -80px; width: 500px; height: 500px;}
                    }
                    &:nth-child(2){
                        transform: translateY(12%);
                        width: 47%;
                        .bg{background-color: #ff0029; height: 80%; }
                        img{right: 100px; width: 340px; height: 500px; transform: rotate(40deg) translateY(-58%);}
                        .title-group{padding: 20px 280px 40px 80px;  .description-holder{p{text-align: left;} .text-shape{width: 70px; height: 100%; float: left; shape-outside: polygon(0% 0%, 100% 0%, 0% 100%, 0% 100%);} }}                    }
                }
             }

             .certificate-holder{
                padding: 20px 120px;
                .certificate-desc-holder{
                    
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 48px;
                    flex-wrap: nowrap;
                    p{text-align: left; line-height: 1.6;}
                }
            }

            .certificate-slider-holder{
                padding: 20px 120px;
                .swiper-container{
                    position: relative;
                    width: 100%;
                    background: #0054bb; padding: 60px 100px ;
                    .swiper-button-prev{  filter: brightness(1000%) saturate(1) invert(0);  width: 48px; height: 48px; margin-left: 36px; &::after{ content: ''; width: 48px; height: 48px; background-image: url('../images/icons/swiper-button-left.svg'); background-size: contain; background-repeat: no-repeat; } }
                    .swiper-button-next{ filter: brightness(1000%) saturate(1) invert(0); width: 48px; height: 48px; margin-right: 36px; &::after{ content: ''; width: 48px; height: 48px; background-image: url('../images/icons/swiper-button-right.svg'); background-size: contain; background-repeat: no-repeat; } }

                }
            }
         }
     }
     
     .market-success{
        //height: 745px;
        position: relative;
        overflow: hidden;
        background: linear-gradient(to bottom, #091880 0%, #003fa9 20%,  #003fa9 80%, #091880 100%);
        .container{padding: 0}
        .content-data{
            width: 100%;
            position: relative;
            .content-top{
                padding: 40px 280px 40px 80px;

                background-image: url('../images/backgrounds/about-bg4.jpg'); background-size: cover; background-repeat: no-repeat;
                .content-header{
                    display: flex;
                    max-width: 1000px;
                    align-items: center;
                    gap: 70px;
                    .num{ font-family: 'AvenirHeavyItalic'; font-size: 200px;  color: #f73f40; font-style: italic; font-weight: 700; }
                    .txt{ font-size: 75px; max-width: 500px; font-family: 'AvenirHeavyItalic'; color: #ffffff; font-style: italic; }
                }
                .years-container{
                    max-width: 1000px;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    .year-item{
                        color: #ffffff;
                        display: grid;
                        gap: 24px;
                        justify-items: center;
                        &:first-child{.year-txt-cont{&::before{visibility: hidden;}}}
                        &:last-child{.year-txt-cont{&::after{visibility: hidden;}}}

                        .year-txt-cont{

                            display: flex;
                            width: 100%;
                            justify-content: center;
                            align-items: center;
                            position: relative;
                            &::before{content: ''; display: block; width: 90%; height: 2px; background:white; flex-wrap: nowrap; top: 50% }
                            &::after{content: ''; display: block; width: 90%; height: 2px; background: white; flex-wrap: nowrap; top: 50% }
                            .year{
                                padding-left: 10px;
                                padding-right: 10px;
                                font-size: 48px;
                                font-weight: bold;
                            }
                        }

                        .thumb{width: 125px;
                            height: 139px;
                            border-radius: 3px;
                            background-color: #e9eef6;
                        }
                        .desc{
                            font-size: 30px;
                            font-weight: bold;
                            text-align: center;
                        }
                    }
                }
            }
            .content-bottom{
                background: #e9eef6;
                padding: 30px 0 70px;
                .bottom-data-cont{
                    display: grid; gap: 24px;
                    .bottom-row{
                        width: 50%; display: flex; align-items: center;
                        .heading{ width: 40%; padding: 30px 60px; font-size: 72px; text-align: center; color: #022c86; font-weight: bold; font-family: "AvenirHeavyDemiCondenced"; border-right: 2px solid #022c86; }
                        .desc{ width: 60%; padding: 30px 40px; font-size: 24px; color: #022c86; font-weight: 500; }
                    }
                }
             
            }
       

        }
        .right-image{
            position: absolute;
            right: 0px;
            bottom: 0px;
            z-index: 100;
            img{width: 1000px;}
        }

        

    }

    @media (max-width: 1600px) {
        .who-we-are .content-data{padding-right: 120px;}
        .world .content-data .product-holder .title-group{padding: 0px 40px}
        .what-we-do .content-data .box-holder .box:nth-child(1){
            .title-group{padding-right: 0px; padding-bottom: 0px;}
        }
        .what-we-do .content-data .box-holder .box:nth-child(2){
            .title-group{padding-right: 220px; h1{padding-left: 100px;} .description-holder{ .text-shape{width: 100px;}}}
            img{right: 40px}
        }

        .market-success .right-image img{width: 800px;}
        .market-success .content-data .content-top .years-container{max-width: 900px;}
    }

    @media (max-width: 1440px) {
        .who-we-are .content-data{padding-right: 60px; .bottom-img{width: 550px;}}
        .world .content-data{padding: 20px;.product-holder{padding: 0 120px;}}
        .world .content-data .map-holder .world-map .map-legend{bottom: 50px; left: 50px}

        .what-we-do .content-data .box-holder .box:nth-child(1){
            img{ width: 400px; height: 400px; }
            .title-group{padding-left: 290px; }
        }
        .what-we-do .content-data .box-holder .box:nth-child(2){
            img{width: 240px; height: 400px;}
            .title-group{padding-left: 120px; h1{padding-left: 100px;} .description-holder{ .text-shape{width: 60px;}}}
            img{right: 40px}
        }

        .market-success .content-data .content-bottom .bottom-data-cont .bottom-row .heading{width: 60%;}
       .market-success .right-image img{width: 700px;}
    }

    @media (max-width: 1152px) {
        .who-we-are .content-data .bottom-img{ width: 450px;}
        .who-we-are .content-data{padding-right: 30px; gap: 0px;}
        .what-we-do .content-data .product-holder .title-group{padding: 0 260px;}
        .what-we-do .content-data .box-holder{flex-direction: column; .box:nth-child(1), .box:nth-child(2){width: 90%;}}
        .what-we-do .content-data .box-holder .box:nth-child(1){
            img{left: -120px;}
            .title-group{ padding: 40px 0px 0px 290px; .description-holder{.text-shape{width: 40px;}}}
        }

        .what-we-do .content-data .box-holder .box:nth-child(2){
            img{right: -20px;}
            .title-group{ padding: 40px 120px 20px 70px; .description-holder{.text-shape{width: 40px;}}}
        }
        .what-we-do .content-data {
            padding-bottom: 40px;
            .certificate-holder, .certificate-slider-holder{padding: 20px 60px}
            .certificate-slider-holder .swiper-container{padding: 30px 60px;.swiper-button-prev{margin-left: 0px;} .swiper-button-next{margin-right: 0px;}}
        }

        .market-success .content-data .content-top{padding-left: 40px;}
        .market-success .content-data .content-bottom .bottom-data-cont .bottom-row{flex-direction: column; width: 80%; align-items: flex-start;}
        .market-success .content-data .content-bottom .bottom-data-cont .bottom-row .heading{border-right: none; border-bottom: 2px solid #022c86;;}
    }

    
    .our-vision{
        .container{padding: 0px}
        background: linear-gradient(to bottom, #0b1177 0%, #0053bb 20%);
        .content-data{
            position: relative; 
            height: 1400px;
            background: url(../images/backgrounds/vision-mission-bg.jpg);
            .left-img{position: absolute; top:0; left: 0; width: 356px; height: 1520px;}
            .content-inner{position: relative; top: -200px; overflow: hidden;}
            .content-holder{
                height: 1580px;
                display: flex;
                flex-direction: column;
                clip-path: polygon(1% 0%, 100% 0%, 100% 100%, 0% 100%, 28% 50%);
                
                .content-half{
                    //display: grid; 
                    width: 100%;
                    height: 50%;
                    &:nth-child(1){height: 47%; align-content: flex-end; .title-group .description-holder{background-color: #eb1d39; padding-left: 370px; padding-right: 100px;}}
                    .description-holder p{text-align: left; font-size: 36px; line-height: 1.2;}

                    .title-group{
                        .description-list{width: 100%; gap: 50px; display: grid;
                            .description-holder p{font-size: 30px;}
                            .description-holder{ display: flex; align-items: center; gap: 40px; .description-icon img{width: 110px;} .description-title{font-size: 36px; font-weight: 700; color: white; p{font-size: 30px;}}
                                &:nth-child(1){padding-left: 370px;}
                                &:nth-child(2){padding-left: 270px;}
                                &:nth-child(3){padding-left: 150px;}
                            }
                        }
                        .description-holder{width: 100%; padding: 40px; background-color: #0053bb;}
                    }
                }

                .vision-holder{.title-group{h1{padding-left: 230px;}}}
                .mission-holder{.title-group{h1{padding-left: 400px;}}}
            }
        }
    }

  

    @media (max-width: 1300px) {
        .our-vision .content-data .content-holder{ clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 30% 50%);}
    }

    @media (max-width: 1024px) {
        .world .content-data .map-holder{padding-top: 60px;}
        .world .content-data .map-holder .world-map .map-legend{left: 20px; bottom: 10px;}
        .what-we-do .content-data .product-holder .title-group{padding: 0 180px}
        .market-success .content-data .content-top{padding-right: 220px; .content-header{.num{font-size: 180px;} .txt{font-size: 60px;}}}
        .market-success .content-data .content-top .years-container .year-item .year-txt-cont{.year{font-size: 36px;} .desc{font-size: 24px;}}

        .our-vision .content-data .left-img{left: -50px; top: 10px}
        .our-vision .content-data .content-holder{clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 33% 50%);}
        .our-vision .content-data .content-holder .vision-holder .title-group h1{padding-left: 200px;}
        .our-vision .content-data .content-holder .content-half:nth-child(1) .title-group .description-holder{padding-left: 290px; padding-right: 20px;}
        .our-vision .content-data .content-holder .mission-holder .title-group h1{padding-left: 350px;}
        .our-vision .content-data .content-holder .content-half .title-group .description-list .description-holder:nth-child(1){padding-left: 310px;}
        .our-vision .content-data .content-holder .content-half .title-group .description-list .description-holder:nth-child(2){padding-left: 200px;}
        .our-vision .content-data .content-holder .content-half .title-group .description-list .description-holder:nth-child(3){padding-left: 70px;}
        .our-vision .content-data .content-holder .content-half .title-group .description-list .description-holder .description-icon img{width: 80px;}

    }
    

    @media (max-width: 768px) {
        .who-we-are .content-data{flex-direction: column; gap: 20px;}
        .who-we-are .content-data .bottom-img{width: 350px}
        .world .content-data .product-holder{padding:0 60px}
        .world .content-data .map-holder .world-map{padding-bottom: 100px;}
        .world .content-data .map-holder{padding-top: 40px;}
        .world .content-data .map-holder .world-map .map-legend ul{grid-template-columns: 1fr 1fr 1fr; font-size: 12px;}
        .what-we-do .content-data .product-holder .title-group{padding: 0 60px;}
        .what-we-do .content-data .box-holder{gap: 0px}
        .what-we-do .content-data .box-holder .box:nth-child(1) img{width: 300px; height: 300px;}
        .what-we-do .content-data .box-holder .box:nth-child(1) .title-group{padding-left: 180px}
        .what-we-do .content-data .box-holder .box:nth-child(2) img{width: 190px; height: 320px;}
        .what-we-do .content-data .box-holder .box:nth-child(2) .title-group{padding-right: 80px}
        .what-we-do .content-data .certificate-slider-holder .swiper-container{.swiper-slide{display: flex; justify-content: center; img{width: 100%;}}}
        
        .market-success .right-image img{width: 500px;}
        .market-success .content-data .content-top{padding: 40px;}

        .our-vision .content-data .left-img{width: 280px;}
        .our-vision .content-data .content-holder{clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 33% 50%);}
        .our-vision .content-data .content-holder .vision-holder .title-group h1{padding-left: 160px;}
        .our-vision .content-data .content-holder .content-half:nth-child(1) .title-group .description-holder{padding-left: 250px; padding-right: 20px; p{font-size: 28px;}}
        .our-vision .content-data .content-holder .mission-holder .title-group h1{padding-left: 250px;}
        .our-vision .content-data .content-holder .content-half .title-group .description-list .description-holder{flex-wrap: wrap; gap: 10px; p{font-size: 24px;}}
        .our-vision .content-data .content-holder .content-half .title-group .description-list .description-holder:nth-child(1){padding-left: 240px; }
        .our-vision .content-data .content-holder .content-half .title-group .description-list .description-holder:nth-child(2){padding-left: 160px;}
        .our-vision .content-data .content-holder .content-half .title-group .description-list .description-holder:nth-child(3){padding-left: 100px;}
        .our-vision .content-data .content-holder .content-half .title-group .description-list .description-holder .description-icon img{width: 60px;}

    }

    @media (max-width: 650px) {
        .market-success .content-data .content-bottom .bottom-data-cont .bottom-row .desc{padding: 20px}
        .market-success .right-image img{width: 400px;}

        .our-vision .content-data .left-img{width: 240px;}

        // .our-vision .content-data{height: 1000px;.left-img{left: -950px; top: -530px }}
        // .our-vision .content-data .content-holder{ height: 1000px; clip-path: polygon(5% 0%, 100% 0%, 100% 100%, 5% 100%, 40% 50%);}
        // .our-vision .content-data .content-holder .vision-holder .title-group h1{padding-left: 180px;}
        // .our-vision .content-data .content-holder .content-half .title-group .description-holder{padding: 20px;}
        // .our-vision .content-data .content-holder .content-half:nth-child(1){ height: 49%;.title-group .description-holder{padding-left: 250px; padding-right: 20px; p{font-size: 22px;}}}
        // .our-vision .content-data .content-holder .content-half .title-group .description-list .description-holder p{font-size: 18px;}
    }

    @media (max-width: 480px) {
        .who-we-are .content-data .bottom-img{ height: 160px; img{height: 160px;}}
        .who-we-are .content-data .title-group{padding-left: 30px}
        .world .content-data .product-holder{padding: 0px;}
        .what-we-do .content-data .box-holder{padding-top: 20px;}
        .what-we-do .content-data .box-holder .box:nth-child(2) .title-group .description-holder .text-shape{width: 60px;}
        .what-we-do .content-data .box-holder .box:nth-child(2) .title-group{padding-left: 60px;}
        .what-we-do .content-data .certificate-holder .certificate-desc-holder{gap: 20px;}
        .what-we-do .content-data .certificate-holder{padding: 20px;}
        .what-we-do .content-data{padding-bottom: 0px; padding-top: 0px;}
        .what-we-do .content-data .box-holder .box .bg{transform: skewX(-18deg) translateY(-50%)}
        .what-we-do .content-data .product-holder .title-group{margin-bottom: 0px;}

        .what-we-do .content-data .certificate-slider-holder{padding: 20px}

        

        .market-success .content-data .content-top{padding: 20px;}
        .market-success .content-data .content-top .content-header{flex-direction: column; gap: 0px}
        .market-success .content-data .content-top .content-header .num{font-size: 80px;}
        .market-success .content-data .content-top .content-header .txt{font-size: 32px; text-align: center;}
        .market-success .content-data .content-top .years-container .year-item .year-txt-cont .year{font-size: 24px;}

        .market-success .content-data .content-top .years-container .year-item .desc{font-size: 16px;}
        .market-success .content-data .content-top .years-container .year-item .thumb{width: 80px; height: 100px;}
        .market-success .right-image img{width: 250px; height: 400px;}
        .market-success .content-data .content-bottom{padding: 20px}
        
        .market-success .content-data .content-bottom .bottom-data-cont .bottom-row{width: 100%;}
        .market-success .content-data .content-bottom .bottom-data-cont .bottom-row .heading{width: 100%; padding: 0px 10px}
        .what-we-do .content-data .box-holder .box:nth-child(1) .title-group .description-holder p{font-size: 14px;}
        .what-we-do .content-data .box-holder .box:nth-child(1) .title-group{padding-top: 40px;}
        .what-we-do .content-data .box-holder .box:nth-child(2) .title-group .description-holder p{font-size: 14px;}
        .what-we-do .content-data .box-holder .box:nth-child(2) .title-group{padding-top: 40px;}
        .what-we-do .content-data .box-holder .box:nth-child(2) img{width: 150px; height: 280px;}

        .market-success .content-data .content-top .years-container .year-item .thumb{width: 60px; height: 80px;}

        .market-success .content-data .content-bottom .bottom-data-cont .bottom-row .desc{font-size: 18px;}
        .market-success .content-data .content-bottom .bottom-data-cont .bottom-row .heading{text-align: left;}

        // .our-vision .content-data{height: 940px; .left-img{height: 1600px; left: -1000px; top: -430px }}
        // .our-vision .content-data .content-holder{ height: 910px; clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 80%, 40% 42%);}
        // .our-vision .content-data .content-holder .vision-holder .title-group h1{padding-left:40px;}
        // .our-vision .content-data .content-holder .content-half .title-group .description-holder{padding: 20px;}
        // .our-vision .content-data .content-holder .content-half{height: 60%;}

        // .our-vision .content-data .content-holder .content-half:nth-child(1){ height: 46%; margin-top: 40px; align-content: flex-start; .title-group .description-holder{padding-left: 170px; padding-right: 20px; p{font-size: 22px;}}}
        // .our-vision .content-data .content-holder .content-half .title-group .description-list .description-holder p{font-size: 18px;}
        // .our-vision .content-data .content-holder .mission-holder .title-group h1{padding-left: 190px;}
        // .our-vision .content-data .content-holder .content-half .title-group .description-list .description-holder{justify-content: center;}
        // .our-vision .content-data .content-holder .content-half .title-group .description-list .description-holder:nth-child(1){padding-left: 165px;}
        // .our-vision .content-data .content-holder .content-half .title-group .description-list .description-holder:nth-child(2){padding-left: 80px;}
        // .our-vision .content-data .content-holder .content-half .title-group .description-list .description-holder:nth-child(3){padding-left: 20px;}


        .our-vision .content-data{height: auto; padding-top: 20px;}
        .our-vision .content-data .content-inner{top: 0}
        .our-vision .content-data .content-holder{height: initial;}

        .our-vision .content-data .left-img{display: none;}
        .our-vision .content-data .content-holder{clip-path: none;}
        .our-vision .content-data .content-holder .content-half:nth-child(1) .title-group .description-holder{padding: 20px; p{font-size: 16px;}}
        .our-vision .content-data .content-holder .content-half .title-group .description-list .description-holder:nth-child(1),
        .our-vision .content-data .content-holder .content-half .title-group .description-list .description-holder:nth-child(2),
        .our-vision .content-data .content-holder .content-half .title-group .description-list .description-holder:nth-child(3)
        {padding: 20px; p{font-size: 16px;}}

        .our-vision .content-data .content-holder .content-half .title-group .description-list{gap: 20px;}

        .our-vision .content-data .content-holder .content-half .title-group .description-list .description-holder .description-title{
            font-size: 24px;
        }

        .our-vision .content-data .content-holder .vision-holder .title-group h1,
        .our-vision .content-data .content-holder .mission-holder .title-group h1
        {padding-left: 20px;}
        
    }

    @media (max-width: 430px) {
        .what-we-do .content-data .box-holder .box:nth-child(1) img{width: 240px; height: 240px;}
        .what-we-do .content-data .box-holder .box:nth-child(1) .title-group{padding-left: 110px; padding-right: 0px;}
        .what-we-do .content-data .box-holder .box .bg{transform: skewX(-18deg) translateY(-50%)}
        .what-we-do .content-data .box-holder .box:nth-child(2) .title-group .description-holder .text-shape{width: 60px;}
        .what-we-do .content-data .box-holder .box:nth-child(2) .title-group{padding-left: 40px;}
        .market-success .content-data .content-bottom{padding: 0px;}
        .what-we-do .content-data .certificate-holder .certificate-desc-holder{display: flex; flex-direction: column;}
        .world .content-data .map-holder .world-map{ul{gap: 10px} .map-legend{left: 0px; padding: 10px;}}

        .what-we-do .content-data .product-holder .title-group{padding: 20px;}
        .market-success .right-image img{width: 220px; height: 300px;}
        .market-success .content-data .content-bottom .bottom-data-cont .bottom-row .heading{font-size: 60px; margin-top: 20px}
        .market-success .content-data .content-bottom .bottom-data-cont .bottom-row{
            &:nth-child(1){.desc{width: 100%;}}
            &:nth-child(2){.desc{width: 50%;}}
        }
        // .our-vision .content-data{height: 940px; .left-img{height: 1770px; left: -1020px; top: -520px }}
        // .our-vision .content-data{height: 940px; .left-img{height: 1960px; left: -1040px; top: -600px }}
        // .our-vision .content-data .content-holder{ height: 910px; clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 80%, 40% 42%);}
        // .our-vision .content-data .content-holder .content-half:nth-child(1) .title-group .description-holder{padding-left: 150px; p{line-height: 1.1;}}
        // .our-vision .content-data .content-holder .content-half .title-group .description-list .description-holder:nth-child(1){padding-left: 145px;}
    }

}


