#brand-page{
    background: linear-gradient(
            85deg,
            #D6AD64 0%,
            #E5CE8F 100%
        );
    .swiper-wrapper {
        align-items: stretch;
    }
    .swiper-slide {
        height: auto;
        display: flex;
    }

    .container{padding: 0;}
    .gold-bg {
        // background: linear-gradient(
        //     85deg,
        //     #D6AD64 0%,
        //     #E5CE8F 100%
        // );
    }
    .g-hero-banner{
        background-color: #d9b670;
        .banner-image{
            width: 100%;
            height: auto;
            object-fit: contain;
            margin-top: -65px;
            display: block;
        }
       
        .banner-text{
                padding: 20px 80px;
                text-align: center;
                font-size: 32px;
                margin-top: -200px;
                line-height: 1.8;
               // padding-top: 64px;
        }
    }

    .feature-banner{
        position: relative;
        //background: #ffffff;
        overflow: hidden;
        .feature-wrapper{
            position: relative;
            
             display: flex;
  flex-direction: column;
  flex: 1;
            .curve-top{
                width: 100%;
                height: fit-content;
            }
        
            .feature-content{
                display: flex;
                flex: 1;
                margin-top: -3px;

                background-color: #ffffff;
                gap: 40px;
                padding: 20px 40px 0 0;

                .feature-image{
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 40%;
                    overflow-x: clip;
                    img{
                        width: 100%;
                        height: fit-content;
                        top: 50%;
                        //position: absolute;
                        //top: -90px;
                        //right: 0px;
                        //width: auto;
                        //height: 135%;
                    }
                    .first-image{
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 0;
                        width: auto;
                        height: 135%;
                    }

                    .third-image{
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 0;
                        width: auto;
                        height: 100%;
                    }
                }
                .feature-txt-content{
                    width: 60%;
                    display: flex;
                    align-items: center;
                    h2{
                        font-size: 80px;
                        font-family: 'AvenirRegular';
                        color: #e1a400;
                        margin-bottom: 40px;

                        span{
                            font-family: 'AvenirHeavy';
                        }
                    }
                    .feature-list{
                        list-style: none;
                        margin: 0 auto;
                        padding: 0 20px;
                        width: 100%;
                        li{
                            gap: 16px;
                            text-align: left;
                            margin-bottom: 24px;
                            display: flex;
                            img{
                                width: 96px;
                                height: 90px;
                            }
                            
                        
                            .feature-heading{
                            // display: block;
                                font-size: 36px;
                                color: #333;
                                font-family: 'AvenirBold';

                            }
                            .feature-txt{
                                font-family: 'AvenirDemi';
                                font-size: 26px;
                                color: #555;
                                padding-right: 40px;
                                line-height: 1.2;
                            }
                        }
                    }
                }
            }
        }
    }

    .varients{
        margin-top: -5px;
       .gold-bg{
            padding: 76px 160px 50px 170px;
            text-align: center;
            h2{
                font-size: 56px;
                font-family: 'AvenirBold';
                color: #333;
                margin-bottom: 40px;
            }

            .cards-container{
                .varient-card{
                    &:nth-child(even){
                        margin-right: 40px;
                        background-color: #ffffff;
                        .card-text{
                            .varient-title{color:#8c6011!important}
                            .varient-subtitle{color:#000000!important}
                        }
                    }


                    width: 100%;
                    border-radius: 50px;
                    background-color: #362f2d;
                    padding: 30px 40px;
                    margin-bottom: 40px;
                    .card-top{
                        display: flex;
                        padding: 0 8px;
                        .v-img{
                            width: 270px;
                            height: fit-content;
                            box-shadow: 8px 12px 12px rgba(0, 0, 0, 0.35);
                            border-radius: 4px;
                            background: #fff;
                        }
                        .card-text{
                            color: white;
                            align-self: center;
                            text-align: left;
                            margin-left: 40px;
                            padding-right: 60px;
                            .varient-title{
                                font-family: 'AvenirBold';
                                font-size: 37px;
                                margin-bottom: 10px;
                                line-height: 1;
                            }
                            .checkmark{
                                display: flex;
                                img{
                                    width: 48px;
                                    height: 43px;
                                    margin-right: 10px;
                                }
                                .varient-subtitle{
                                    font-size: 22px;
                                }
                            }
                            
                        
                        }
                    }

                    .card-bottom{
                        margin-top: 20px;
                        .table-shadow {
                            box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.35);
                            border-radius: 12px;
                            overflow: hidden; /* clips table corners */
                            background: #fff;
                        }
                        table{
                            width: 100%;
                            border-collapse: separate; /* important! */
                            border-spacing: 0;         /* remove gaps */
                            border-radius: 8px;       /* rounded corners */
                            overflow: hidden;      
                            thead{
                                color: white;
                                background-color: #ae8338;
                                tr{
                                    th{
                                        font-family: 'AvenirBold';
                                        font-size: 18px;
                                        padding: 16px 5px;
                                        border: none;
                                    }
                                }
                            }
                            tbody{
                                tr{
                                    background-color: white;
                                    td{
                                        font-family: 'AvenirDemi';
                                        font-size: 18px;
                                        padding: 10px 5px;
                                        border-spacing: 2;         /* remove gaps */
                                        border-left: 2px solid #232323;

                                        &:first-child{
                                            border-left: none; /* Remove left border for the first cell */
                                            border-spacing: 0;
                                        }
                                        
                                    }
                                  
                                }
                            }
                        }
                    }
                }

               

            }
        }
    }





   

    @media screen and (max-width: 1152px) {
        .g-hero-banner .banner-text p{font-size: 24px; margin: 0;}
        .feature-banner .feature-wrapper .feature-content {
            padding: 40px 20px 0 0;
            .feature-txt-content{
                h2{font-size: 65px;}
                .feature-list li {.feature-heading{font-size: 26px;} .feature-txt{font-size: 18px;}}
            }
        }

        .varients .gold-bg {
            padding: 30px 80px;
            .cards-container .varient-card .card-top {
                .v-img{ width: 220px; }
                .card-text {
                    margin-left: 20px;
                    padding-right: 20px;
                    .varient-title { font-size: 32px; }
                    .checkmark .varient-subtitle { font-size: 20px; }
                }
            }
        }

        
    }

    @media (max-width: 1024px) {
        .feature-banner .feature-wrapper .feature-content .feature-txt-content .feature-list li img { width: 65px; height: 60px; }
        .feature-banner .feature-wrapper .feature-content .feature-image .first-image{ height: 120%; }
        .varients .gold-bg h2{font-size: 36px;}
    }

    @media (max-width: 870px) {
        .feature-banner .feature-wrapper .feature-content .feature-txt-content h2{font-size: 40px; margin-bottom: 30px;}
        .varients .gold-bg{padding: 20px 40px;}
        #brand-page .feature-banner .feature-wrapper .feature-content .feature-txt-content .feature-list li .feature-heading { font-size: 22px; }
        #brand-page .feature-banner .feature-wrapper .feature-content .feature-txt-content .feature-list li .feature-txt { font-size: 16px; }   
        .feature-banner .feature-wrapper .feature-content .feature-image .first-image{ height: 110%; }
        .varients .gold-bg h2{font-size: 30px;}
    }



    @media (max-width: 768px) {
        .g-hero-banner .banner-text {margin-top: -120px}
        .g-hero-banner .banner-text p{font-size: 18px;}
        .feature-banner .feature-wrapper .feature-content{padding: 0;  gap: 20px;
            .feature-txt-content{
                h2{font-size: 32px; margin-bottom: 30px;}
                .feature-list li {.feature-heading{font-size: 18px;} .feature-txt{font-size: 14px;} img{width: 50px; height: 45px;}}
            }
        }
        .feature-banner .feature-wrapper .feature-content .feature-image .first-image{
            height: 90%;
        }
         .varients .gold-bg h2{font-size: 32px; margin-bottom: 20px;}
        .varients .gold-bg{padding: 20px 40px;}
        .varients .gold-bg .cards-container .varient-card{border-radius: 20px; padding: 15px 20px; margin-bottom: 20px;}
        .varients .gold-bg .cards-container .varient-card .card-top .v-img{width: 124px;}
        .varients .gold-bg .cards-container .varient-card .card-top .card-text .varient-title{font-size: 24px;}
        .varients .gold-bg .cards-container .varient-card .card-top .card-text .checkmark .varient-subtitle{font-size: 14px;}
        .varients .gold-bg .cards-container .varient-card .card-bottom table thead tr th{font-size: 14px;}
        .varients .gold-bg .cards-container .varient-card .card-bottom table tbody tr td{font-size: 14px;}

    }

    @media (max-width: 650px) {
        .feature-banner .feature-wrapper .feature-content .feature-txt-content h2{font-size: 30px;}
        .feature-banner .feature-wrapper .feature-content .feature-txt-content .feature-list li .feature-heading{font-size: 16px;}

    }
    @media (max-width: 480px) {
        .g-hero-banner .banner-text {margin-top: -80px; padding: 10px 50px;}
        //.feature-banner .feature-wrapper .feature-content .feature-image .first-image{ height: 80%;}
        .feature-banner .feature-wrapper .feature-content{/*flex-direction: column; align-items: center;*/  padding: 10px 0 0 0;
            .feature-txt-content{
                width: 100%;
                h2{font-size: 28px; margin-bottom: 20px;}
                .feature-list li {.feature-heading{font-size: 14px;} .feature-txt{font-size: 12px;} img{width: 40px; height: 36px;}}
            }
        }

        .feature-banner .feature-wrapper .feature-content .feature-txt-content .feature-list{padding-left: 0px;}

        .g-hero-banner .banner-text p{font-size: 20px;}
        .feature-banner .feature-wrapper .feature-content .feature-txt-content h2 { font-size: 24px; }
        .feature-banner .feature-wrapper .feature-content .feature-txt-content .feature-list li{margin-bottom: 10px;}
        .feature-banner .feature-wrapper .feature-content .feature-txt-content .feature-list li .feature-heading { font-size: 14px; }
        .feature-banner .feature-wrapper .feature-content .feature-txt-content .feature-list li .feature-txt{ font-size: 12px; padding-right: 0px;}
        .varients .gold-bg h2{font-size: 28px;}
        .varients .gold-bg{padding: 10px 20px;}
        .varients .gold-bg .cards-container .varient-card .card-top{flex-direction: column; align-items: center;}
        .varients .gold-bg .cards-container .varient-card .card-top .card-text .checkmark{flex-direction: column; align-items: center; gap: 10px;}
        .varients .gold-bg .cards-container .varient-card .card-top .card-text .checkmark .varient-subtitle{text-align: center;}
        .varients .gold-bg .cards-container .varient-card .card-top .v-img{ width: 90px; height: 90px; margin-bottom: 10px;  }
        .varients .gold-bg .cards-container .varient-card .card-top .card-text .varient-title{font-size: 20px; text-align: center; line-height: 1.2;}
        .varients .gold-bg .cards-container .varient-card .card-bottom table tbody tr td{ border-left: none;; }
        .varients .gold-bg .cards-container .varient-card .card-bottom table thead tr th{font-size: 10px;}
        .varients .gold-bg .cards-container .varient-card .card-bottom table tbody tr td{font-size: 10px;}
        .varients .gold-bg .cards-container .varient-card .card-top .v-img{box-shadow: 4px 6px 6px rgba(0, 0, 0, 0.35);}


    }

    @media (max-width: 430px) {
        .g-hero-banner .banner-text p{font-size: 16px;}
        .varients .gold-bg .cards-container .varient-card{padding: 15px;}
        .varients .gold-bg .cards-container .varient-card .card-top .card-text{padding-right: 10px;}

    }

}


