#brand-page{
    .main-heading{
        .section-title{
            margin-top: 20px;
            margin-bottom: 20px;
            color: white; position: relative; display: grid;  grid-gap: 50px; text-align: left; justify-content: flex-start;
            
            &::after{display: none;}
        }
    }

    section.section{background: #022c86;}
    .section.gold {
        background: #022c86 url('../images/backgrounds/bay-of-gold-bg.jpg');
        .container{padding-left: 0; max-width: 100%;}
        .content-data{
            display: grid; grid-template-columns: 1fr 1fr; color: white; 
            position: relative;
            .left-image{position: absolute; width: 100%; bottom: 0;}
            .left-image img{object-position: right; width: 720px; height: 850px;}
            .content-area{
                padding-bottom: 100px; margin-left: -15vw; position: relative; z-index: 9;
                .description-holder{
                    max-width: 950px;
                    p{font-size: 26px; line-height: 1.4; }
                
    
                }
                .availability-data{
                    padding-left: 20%; margin-top: 100px; padding-right: 20px;
                    h5{font-size: 30px; margin-bottom: 50px;}

                    .items-holder{
                        display: grid;grid-template-columns: repeat(4, 1fr); gap: 15px; max-width: 1200px;
                        .item img{width: 100%;}
                                              
                    }
                }

            }
        }
    }

    &.gold-standard{
        .section.gold .content-data{
            .left-image{width: 50vw;}
            .content-area{
                padding-bottom: 120px; padding-top: 20px;
                .description-holder{max-width: 1140px;}
                .availability-data{
                    margin-top: 140px; padding-left: 30%;
                    .items-holder{grid-template-columns: repeat(3, 1fr);}
                }

            }
        }
    }


    @media (max-width: 1300px) {
        .section.gold .content-data .left-image img{
            width: 650px; height: auto;
        }
        
    }

    @media (max-width: 1120px) {
        .section.gold .content-data .left-image img{width: 650px; height: auto;}
        .section.gold .content-data .content-area .description-holder p{font-size: 22px;}
        .section.gold .content-data .content-area{margin-left: -25vw;}
        .section.gold .content-data .content-area .availability-data{margin-top: 50px; padding-left: 270px;}

        .section.gold.standard{.content-data .left-image img{width: 550px; height: auto;}}
        .section.gold.standard{.content-data .content-area .availability-data{padding-left: 35%; margin-top: 50px}}

        .section.gold.new{.content-data .left-image img{width: 550px; height: auto;}}
        .section.gold.new{.content-data .content-area .availability-data{padding-left: 35%; margin-top: 50px}}
    }

    @media (max-width: 1024px) {
        .section.gold .content-data .left-image{left: -50px;}
    }

    @media (max-width: 768px) {
        .section.gold .content-data .left-image img{width: 550px;}
        .main-heading .section-title{margin-top: 10px;}
        .section.gold .content-data .content-area .description-holder{padding-bottom: 40px; p{font-size: 18px; line-height: 1.2;}}
        .section.gold .content-data .content-area{margin-left: -20vw; padding-bottom: 50px;}
        .section.gold .content-data .content-area .availability-data{padding-left: 200px; padding-right: 20px;}
        .section.gold .content-data .content-area .availability-data h5{font-size: 20px;}

        .section.gold.standard{.content-data .left-image img{width: 420px;}}
        .section.gold.standard{.content-data .content-area{padding-bottom: 40px;}}

        .section.gold.new{.content-data .left-image img{width: 420px;}}
        .section.gold.new{.content-data .content-area{padding-bottom: 40px;}}


    }

    @media (max-width: 650px) {
        .section.gold .content-data .left-image img{width: 450px;}
        .main-heading .section-title{margin-top: 10px; margin-bottom: 10px;  padding: 0}
        .section.gold .content-data .content-area .description-holder p{font-size: 16px; line-height: 1.2;}
        .section.gold .content-data .content-area .availability-data{padding-left: 140px; padding-right: 20px;}

        .section.gold.standard{.content-data .left-image img{width: 380px;}}
        .section.gold.new{.content-data .left-image img{width: 380px;}}

    }
    @media (max-width: 480px) {
        .section.gold .content-data .left-image img{width: 340px;}
        .section.gold .content-data .content-area{margin-left: -20vw;}
        .section.gold .content-data .content-area .description-holder{padding-bottom: 20px;}
        .section.gold .content-data .content-area .availability-data .items-holder{gap: 8px;}
        .section.gold .content-data .content-area .availability-data{padding-left: 110px; padding-right: 0px;}
        .section.gold .content-data .content-area .availability-data{margin-top: 10px;}
        .section.gold .content-data .content-area .availability-data h5{font-size: 16px;}

        .section.gold.standard{.content-data .left-image img{width: 240px;}}
        .section.gold.standard .content-data .content-area{margin-left: -35vw;}

        .section.gold.new{.content-data .left-image img{width: 240px;}}
        .section.gold.new .content-data .content-area{margin-left: -35vw;}


    }

    @media (max-width: 430px) {
        .section.gold .content-data .left-image img{width: 230px;}
        .section.gold .content-data .content-area{margin-left: -40vw; padding-bottom: 20px;}
        .section.gold .content-data .content-area .description-holder{padding-bottom: 40px; p{font-size: 14px;}}
        .section.gold .content-data .content-area .availability-data{padding-left: 130px;}
        .section.gold .content-data .content-area .availability-data{margin-top: 10px;}
        .section.gold .content-data .content-area .availability-data h5{margin-bottom: 10px;}

        .section.gold.standard{.content-data .left-image img{width: 200px;}}
        .section.gold.standard .content-data .content-area{margin-left: -40vw;}

        .section.gold.new{.content-data .left-image img{width: 200px;}}
        .section.gold.new .content-data .content-area{margin-left: -40vw;}


    }

}


