#corporate-governance-main{
    .g-hero-banner{

    }

    .section{&.main{
        .content-data{
             padding: 80px 0;
        }
    }}

    .box-container{display: grid; gap: 36px; grid-template-columns: 1fr 1fr 1fr; overflow: hidden;
        .box{display: grid; align-content: center; background: #0054bc; padding: 40px 60px; &.red{background: var(--primary-red);} &.pink{background: #f73f40 }; transform: skewX(-25deg);}
        .title-group{gap: 10px; margin-bottom: 0px; transform: skewX(25deg); h1{line-height: 1.2;} .description-holder{ p{line-height: 1.5;}}}
    }

    .title-group{
        h1{font-size: 52px; font-family: 'AvenirBold';}
    }

    .image-section{
        background-color: #a9ccf0;
        .container{padding: 0px}
        .content-data{
            background: var(--primary-dark);
            display: grid;
            grid-template-columns: 1fr 1fr;
            overflow: hidden;
          
            .img-holder{
                position: relative;
                left: -180px;
                height: 433px;
                background: #a9ccf0;
                padding-right: 124px;
                border-right: 45px solid white;
                transform: skewX(32deg);
                // &.right{
                //     padding-right: initial;
                //     padding-left: 124px;
                //     border-left: 45px solid white;;
                //     border-right: none;
                //     right: -180px;
                //     left: initial;
                //     transform: skewX(-32deg);
                // }
                img{width: 100%; height: 100%; object-position: right; object-fit: cover;}
            }
      
            .title-group{
                position: relative;
                left: -120px;
                width: calc(100% + 100px);
                margin-top: 20px;
                .description-holder{display: grid; gap: 40px; p{padding: 0 40px; line-height: 1.5;}}
            }
           
        }
        &.right{
            .content-data{
                .img-holder{
                    padding-right: initial;
                    padding-left: 124px;
                    border-left: 45px solid white;;
                    border-right: none;
                    right: -180px;
                    left: initial;
                    transform: skewX(-32deg);
                    img{object-position: left; }
                }
                .title-group{
                    left: initial;
                    right: -20px;
                    width: calc(100% + 100px);
                }
            }
        }
    }

    .social-responsibilities{
        width: 100%;
        background: #a9ccf0;

        .container{ padding: 70px 0; background: var(--primary-dark);}
        .content-data{
            padding: 0 30px;
            position: relative;
            .title-group{ .description-holder{max-width: 1000px;}}
            
        }
        .box-container .title-group h1{font-size: 36px;}
    }

    .risk-management{
        width: 100%;
        background: #a9ccf0;
        .container{padding: 0; }
        .content-data{
            overflow: hidden;
            padding: 70px 0px;
            background-image: url("../images/backgrounds/corporate-bg2.jpg");
            .title-group{padding: 0 30px; p{max-width: 800px;}}
            .box-container{grid-template-columns: 1fr 1fr; overflow:initial; /*transform: scale(1.1)*/; padding: 40px 0; gap: 0px;}
            .box{ position: relative; padding: 80px 0px; width: calc(100% + 60px); justify-content: center; transform: none; clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%);
                .title-group{padding-left: 40px; transform: none; h1{font-size: 44px; .button-primary{margin-left: 20px; text-shadow: none; margin-top: 10px}}}
                &.pink{top: 80px; width: calc(100% + 110px); left: -110px; clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%);}
            }
            //.box{&:nth-child(1){padding-left: 80px; margin-bottom: 80px;}}
            //.box{&:nth-child(2){margin-top: 80px;}}
        }
    }

    .enterprise-risk{
        width: 100%;
        background: #a9ccf0;
        .container{padding: 0px;}
        .content-data{
            background-image: url(../images/backgrounds/corporate-govern-enterprisebg1.jpg);
            background-size: cover;
            background-position-y: 100%;
            position: relative;
            display: grid;
            grid-template-columns: 1fr 1fr;
            .left{
                width: 130%;
                padding-left: 40px;
                display: grid;
                gap: 40px;
                justify-content: center;
                .process-holder{padding-left: 60px;}
                .process{display: flex; justify-content: center;}
                .description-holder{padding: 40px 20px; display: grid; gap: 30px; p{line-height: 1.5;}}
                img{width: 100%;}
            }
            .right{
                display: flex;
                justify-content: flex-end;
                width: 100%;
                img{width: 70%}
            }
        }
    }

    .press-release{
        width: 100%;
        background: #a9ccf0;
        .container{padding: 0px;}
       .content-data{
            .title-group{.description-holder{p{text-align: left; font-size: 28px;}} h5, h4{font-size: 32px; color: white; text-align: left;} h4{font-size: 36px; font-style: italic;}}

            background-image: url(../images/backgrounds/press-releasebg2.jpg);
            background-size: cover;
            background-position-y: 100%;
            position: relative;
            display: grid;
            grid-template-columns: 3fr 5fr;
            .right{
                //width: 130%;
                padding: 80px 60px 40px;
                display: grid;
                gap: 40px;
                justify-content: center;
                .description-holder{display: grid; gap: 30px; p{line-height: 1.5;}}
            }
            .left{
                justify-content: flex-start;
                width: 100%;
                img{ width: 100%; height: 100%; }
            }
        }
    }

    .press-release-cards{
        width: 100%;
        background: #a9ccf0;

        .btn-cont{
            position: absolute; bottom: 0px; left: 0;
            padding: 40px 0px 40px;
            width: 100%; display: flex; justify-content: center;
            background: linear-gradient(to bottom,  #ffffff6f 0%, #ffffffe1 20%, #ffffff);
            //.button-primary{padding: 10px 40px;}
        }


        .container{padding: 0px;}
        .content-data{
            background-image: url(../images/backgrounds/press-releasebg2.jpg);
            background-size: cover;
            background-position-y: 100%;
            position: relative;
            .cards-container{
                width: 100%; .bottom{.btn-cont{ padding: 250px 0 100px; background: linear-gradient(to bottom, #00176b00 0%, #00176bc5 50%, #00176bf6 75%); .button-primary{padding: 20px 25px;}}}
                .cards-holder{
                    padding: 80px 110px;
                    width: 100%;
                    gap: 100px;
                    display: grid;
                    //grid-template-columns: 1fr 1fr 1fr;
                    grid-template-columns:  repeat(auto-fill, minmax(420px, 1fr));

                    .press-card{
                        position: relative; display: grid; align-items: flex-start; gap: 20; align-content: flex-start; gap: 10px;
                        background: white; padding: 30px 40px; box-shadow: 2px 2px 16px #000;
                        .card-date{font-family: 'Avenir-heavy-Italic'; font-size: 40px; font-weight: bold; color: #f73f40; white-space: nowrap;} 
                        .card-title{font-size: 40px; font-weight: bold; color: #022c86; font-family: 'Avenir-Condenced-Italic'; font-style: italic;}
                        .card-description{font-size: 24px; color: #022c86; }
                        padding-bottom: 40px;
                    }
                }
            }
        }
    }


    @media (max-width: 1280px) {
        .social-responsibilities .box-container .title-group h1{font-size: 28px;}
        .box-container .box{padding: 40px;}
        .risk-management .content-data .box{padding: 40px 0; }
        .risk-management .content-data .box{&.pink{padding-left: 40px;}}
    }


    @media (max-width: 1152px) {
        
         .box-container .box{padding: 30px 40px}
         //.box-container .title-group h1{font-size: 28px;}
         .risk-management .content-data .box{padding: 40px 0px; &.pink{left: -60px;}}
    }

   
    @media (max-width: 1024px) {
        .title-group h1{font-size: 46px;}

        .social-responsibilities .box-container .title-group h1{font-size: 24px;}
        // .image-section .content-data .title-group{width: calc(100% + 60px); left: -80px;}
        // .image-section .content-data .img-holder{border-width: 20px; padding-right: 80px;}
        // .image-section {&.right{.content-data .img-holder{border-width: 20px; padding-left: 80px;}}}
        // .risk-management .content-data .box{width: calc(100% + 70px);}
        // .image-section.right .content-data .title-group{right: -40px;}

        .press-release .content-data .right{padding: 40px 30px 0;}
        .press-release .content-data .title-group h4{font-size: 24px;}
        .press-release .content-data .title-group h5{font-size: 20px;}
        .press-release .content-data .title-group .description-holder p{font-size: 16px;}

        .press-release-cards .content-data .cards-container .cards-holder{ padding: 30px; justify-items: center;}
        .press-release-cards .content-data .cards-container .cards-holder .press-card{min-height: 500px; max-width: 420px;}
        .press-release-cards .content-data .cards-container .cards-holder .press-card .card-date{font-size: 28px;}
        .press-release-cards .content-data .cards-container .cards-holder .press-card .card-title{font-size: 32px;}
        .press-release-cards .content-data .cards-container .cards-holder .press-card .card-description{font-size: 18px;}
    }
    

    @media (max-width: 850px) {
        .image-section .content-data .img-holder{height: 475px;}
        .box-container {grid-template-columns: 1fr;}
        .risk-management .content-data .box-container{grid-template-columns: 1fr; grid-auto-rows: auto; padding: 0px; gap: 20px;  }
        .risk-management .content-data .box-container .box{padding: 20px; width: 100%; clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 100%); &.pink{left: 0px; top: 0px; clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);} }
    }

    @media (max-width: 768px) {
        .title-group h1{font-size: 36px;}
        .risk-management .content-data .box .title-group h1{font-size: 36px;}
        .image-section .content-data .img-holder{border-width: 20px; padding-right: 120px;}
        .image-section {&.right{.content-data .img-holder{border-width: 20px; padding-left: 120px;}}}

        .g-hero-banner .banner--title{img{width: 150px;}}




        .image-section .content-data .img-holder{height: 375px;}
        .social-responsibilities .container{padding: 30px 0;}
        .risk-management .content-data{padding: 30px 0;}
        .image-section .content-data .title-group .description-holder{gap: 20px;}
        //.image-section .content-data .title-group .description-holder p{pa}

        .enterprise-risk .content-data .left .process-holder{padding-left: 20px;}
        .press-release .content-data .title-group .description-holder{gap: 10px;}
    }

    @media (max-width: 650px) {
        .image-section .content-data .img-holder{height: 300px;}
        .image-section .content-data .img-holder{border-width: 10px; padding-right: 80px;}
        .image-section {&.right{.content-data .img-holder{border-width: 10px; padding-left: 80px;}}}

        .box-container .box{padding: 20px;}




        //.image-section .content-data .title-group{width: calc(100% + 120px); .description-holder{gap: 10px;}}
        .risk-management .content-data .box .title-group{padding-left: 0px; padding-right: 40px;}
        .press-release .content-data .right{padding: 20px 20px 20px 0;}
        .press-release .content-data .right{.description-holder p{line-height: 1.2;}}
    }

    @media (max-width: 480px) {
        .title-group{h1{font-size: 28px;}}
        .risk-management .content-data .box .title-group h1{font-size: 28px;}
        .social-responsibilities .box-container .title-group h1{font-size: 18px;}

        .reports.section{padding: 20px 0;}
        
        .image-section .content-data .img-holder{border-width: 10px; padding-right: 40px;}
        .image-section {&.right{.content-data .img-holder{border-width: 10px; padding-left: 40px;}}}
        .image-section .content-data .title-group .description-holder p{line-height: 1.2; padding: 0px;}
        .image-section .content-data .title-group{margin-top: 10px;}

        .enterprise-risk .content-data .left{padding-left: 20px;}
        .enterprise-risk .content-data .left .description-holder{padding-top: 20px; gap: 10px;}
        .enterprise-risk .content-data .left{gap: 0px; .process-holder{padding-left: 0;}}

        .press-release .content-data{grid-template-columns: 1fr; .left{display: none;} .right{padding: 20px;}}

    }

    @media (max-width: 430px) {
        .image-section .content-data{grid-template-columns: 1fr; gap: 10px; .title-group{width: 100%; left: 0; padding: 0 20px;} .img-holder{display: none;}}
        .image-section {&.right{.content-data{grid-template-columns: 1fr; .title-group{width: 100%; left: 0;} .img-holder{display: none;}}}}
        .image-section .content-data .title-group .description-holder p{line-height: 1.2; padding: 0px;}
        .image-section .content-data .title-group{margin-top: 10px;}



        .press-release-cards .content-data .cards-container .cards-holder{padding: 20px; grid-template-columns:  repeat(auto-fill, minmax(320px, 1fr));}
        
    }

    @media (max-width: 380px) {
     
    }

    &.reports{
        section.section{
            background-color: #00226d;
            padding: 0px 0;

            @media (max-width: 768px) { padding: 40px 0; }
            @media (max-width: 480px) { padding: 20px 0; }
        }
    }

}


