#investor-relations{
    .hero-banner{
        margin-top: 84px;
        width: 100%; position: relative;
        background-color: var(--primary-dark);
        .container{padding: 0;}
        .title-group{max-width: 240px; h1{line-height: 1; font-size: 120px;}}
        .content-data{
            position: relative;
            .home-swiper{
                .right-img{position: absolute; top: 0px; right: 0px}
            }
        }
    }
    
    .title-group{
        flex: 1;
        h1{ text-shadow: 0.138px 6.582px 2.5px #000000;  font-family: "Avenir-Condenced-Italic"; font-style: italic; font-weight: 700; }
    }
    .section-title{
        color: white; position: relative; display: grid;  grid-gap: 50px;
        
        &::after{content: ""; position: relative; height: 16px; width: 480px; background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 70%, rgba(255,255,255,0) 100%); }
        
        @media (max-width: 1440px) {
            grid-gap: 30px; 
            &::after{ width: 300px; height: 8px;}
        }
    }

    section.section{background: #022c86;}
    .section.programs {
        background: #022c86 url('../images/backgrounds/investors-relations-bg.png');
        .container{padding-left: 0; max-width: 100%;}
        .section-title{
            &::after{left: 160px; height: 11px; width: 103px; border-radius: 3px; background: white;}
            
            @media (max-width: 1440px) {
                grid-gap: 30px; 
                &::after{ width: 100px; height: 8px;}
            }
        }
        .content-data{
            display: grid; grid-template-columns: 1fr 5fr; color: white; min-height: 1144px;

            .image-responsive{position: absolute; width: 45vw; height: 100%;}
            .image-responsive img{object-position: center right;}
            .content-area{
                padding-top: 90px; padding-bottom: 200px;
                .description-holder{
                    margin-top: 70px;
                    p{font-size: 24px; line-height: 1.6; margin-left: 11.20vw; }
                    p:nth-child(2){margin-top: 45px; margin-left: 15.89vw;}
                    p:nth-child(3){margin-top: 75px; margin-left: 26.80vw;}
                    
                
    
                }

            }
        }
    }

}


