#press-release-main{
    .press-release{
        width: 100%;
        background: #a9ccf0;
        .container{padding: 0px;}
       .content-data{
            .title-group{.description-holder{p{text-align: left; font-size: 28px;}} h5, h4{font-size: 32px; color: white; text-align: left;} h4{font-size: 36px; font-style: italic;}}
            background-image: url(../images/backgrounds/press-releasebg2.jpg);
            background-size: cover;
            background-position-y: 100%;
            position: relative;
            display: grid;
            grid-template-columns: 3fr 5fr;
            .right{
                //width: 130%;
                padding: 80px 60px 40px;
                display: grid;
                gap: 40px;
                justify-content: center;
                .description-holder{display: grid; gap: 30px; p{line-height: 1.5;}}
            }
            .left{
                justify-content: flex-start;
                width: 100%;
                img{ width: 100%; height: 100%; }
            }
        }
    }

    .press-release-cards{
        width: 100%;
        background: #a9ccf0;

        .btn-cont{
            position: absolute; bottom: 0px; left: 0;
            padding: 40px 0px 40px;
            width: 100%; display: flex; justify-content: center;
            background: linear-gradient(to bottom,  #ffffff6f 0%, #ffffffe1 20%, #ffffff);
            //.button-primary{padding: 10px 40px;}
        }


        .container{padding: 0px;}
        .content-data{
            background-image: url(../images/backgrounds/press-releasebg2.jpg);
            background-size: cover;
            background-position-y: 100%;
            position: relative;
            .cards-container{
                width: 100%; .bottom{.btn-cont{ padding: 250px 0 100px; background: linear-gradient(to bottom, #00176b00 0%, #00176bc5 50%, #00176bf6 75%); .button-primary{padding: 20px 25px;}}}
                .cards-holder{
                    padding: 80px 100px;
                    width: 100%;
                    gap: 80px;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    //grid-template-columns:  repeat(auto-fill, minmax(250px, 1fr));

                    .press-card{
                        max-height: 490px;
                        position: relative; display: grid; align-items: flex-start; gap: 20px; align-content: flex-start; gap: 10px;
                        background: white; padding: 20px 20px; box-shadow: 2px 2px 16px #000;
                        .card-date{font-family: 'AvenirHeavyItalic'; font-size: 31px; font-weight: bold; color: #f73f40; white-space: nowrap;} 
                        .card-title{font-size: 31px; font-weight: bold; color: #022c86; font-family: 'AvenirCondencedItalic'; font-style: italic;}
                        .card-description{font-size: 24px; color: #022c86; }
                        padding-bottom: 40px;
                    }
                }
            }
        }
    }

    @media (max-width: 1152px) {
        .press-release-cards .content-data .cards-container .cards-holder{padding: 40px 50px; gap: 40px;}
    }
   

    @media (max-width: 768px) {
        .press-release-cards .content-data .cards-container .cards-holder{grid-template-columns: 1fr 1fr; padding: 40px 50px; gap: 40px;}
        .press-release-cards .content-data .cards-container .cards-holder .press-card{max-height: 400px;}
        .press-release-cards .content-data .cards-container .cards-holder .press-card .card-date{font-size: 24px;}
        .press-release-cards .content-data .cards-container .cards-holder .press-card .card-title{font-size: 24px;}
        .press-release-cards .content-data .cards-container .cards-holder .press-card .card-description{font-size: 18px;}
    }

    @media (max-width: 650px) {
        .press-release-cards .content-data .cards-container .cards-holder{padding: 40px 30px; gap: 30px;}
        .press-release-cards .content-data .cards-container .cards-holder .press-card{max-height: 360px;}
    }

    @media (max-width: 480px) {
        .press-release-cards .content-data .cards-container .cards-holder{grid-template-columns: 1fr; padding: 20px;}
        //.press-release-cards .content-data .cards-container .cards-holder .press-card{min-height: 480px;}
    }

    @media (max-width: 430px) {
        .press-release-cards .content-data .cards-container .cards-holder{padding: 20px; grid-template-columns:  repeat(auto-fill, minmax(320px, 1fr));}
        
    }

}


