.products-section, .product-details-section {
    padding: 70px 0 100px 0; background: url('../images/backgrounds/products-bg.jpg'); background-repeat: no-repeat; background-size: cover; overflow: hidden;
}
#products {    
    // .hero-banner {
    //      position: relative;
    //     .overlay-image {position: absolute; right: 0; top: 0; z-index: 1; height: 100%;}
    // }
    .products-section {
         padding: 70px 0 100px 0; background: url('../images/backgrounds/products-bg.jpg'); background-repeat: no-repeat; background-size: cover; overflow: hidden;

        .title-group.horizontal {
            display: flex; gap: 100px; justify-content: space-between; padding: 0 60px; margin-bottom: 80px;
            h1 {font-weight: 600; font-size: 73px; line-height: 80px; width: 100%; letter-spacing: 2px;}
            p {text-align: left; line-height: 28px;}
        }
        .products-with-categories {
            .title-group { margin-bottom: 28px;
                h3 {font-size: 44px; letter-spacing: -1px; color: #ffffff; font-weight: 700;}
            }
            .cards-holder {
                display: flex; flex-wrap: nowrap; gap: 52px; margin: 0 90px; justify-content: center;

                .cat-box {
                    cursor: pointer; position: relative; display: flex; flex-direction: column; justify-content: space-between; align-items: center; color: white; width: 33%; height: 470px;
                    padding: 40px 30px 80px 20px;

                    .bg {
                        transform: skewX(-15deg); position: absolute; width: 100%; height: 100%; top: 0; right: 0;
                        &::before {position: absolute; content: ""; background: #0053bb; width: 100%; height: 100%; }
                    }
                    &:nth-child(even) .bg::before {background: var(--primary-pink);}
                    .image-holder {z-index: 1; max-width: 90%; margin: 40px 0px 40px 40px; .figure{width: 100%;}}
                    h3 {z-index: 1; font-size: 40px; max-width: 240px; text-align: center; height: 70px;}
                }
            }
            .products {
                margin-top: 37px;
                .cards-holder {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    .cat-box{width: 100%;}
                    max-width: 60%; margin: auto; grid-template-columns: 1fr 1fr; gap: 40px;
                   
                }
            }
        }
    }

    // @media (max-width: 1440px) {
    //     .hero-banner .container .title-group{left: 125px;}
    //     .products-section .title-group.horizontal{padding: 0 30px; margin-bottom: 60px; gap: 60px; h1{ font-size: 60px;}}
    // }
    @media (max-width: 1200px) {
        .hero-banner .container .title-group{left: 60px; h1{font-size: 60px;}}
        .products-section .title-group.horizontal{padding: 0 30px; margin-bottom: 60px; gap: 60px; h1{ font-size: 60px; line-height: 1;}}
        .products-section .products-with-categories .cards-holder .cat-box{height: 360px; .image-holder{margin-top: 60px}}
        .products-section .products-with-categories .cards-holder .cat-box h3{font-size: 32px;}
    }

    @media (max-width: 1024px) {
        .products-section .title-group.horizontal p{line-height: 1.5;}
        .products-section .products-with-categories .cards-holder{margin: 0 45px; gap: 20px; .cat-box{height: 250px; padding: 20px 20px 40px 20px; .image-holder{margin-top: 30px}}}
        .products-section .products-with-categories .cards-holder .cat-box h3{font-size: 24px;}
        .product-details-section .table-wrapper.bordered table tbody tr td{padding: 0px;}
    }
    @media (max-width: 768px) {
        .hero-banner .container .title-group h1{font-size: 42px;}
        .products-section{padding: 30px 0 30px 0;}
        .products-section .title-group.horizontal{padding: 0px; gap: 20px; margin-bottom: 20px; h1{font-size: 36px;} p{line-height: 1.2;}}
        .products-section .products-with-categories .title-group h3{font-size: 32px;}
        .products-section .products-with-categories .cards-holder{flex-direction: column;.cat-box{width: 100%;  gap: 10px;}}
        .products-section .products-with-categories .cards-holder{margin: 0 40px; .cat-box{height: 230px;}}
        .products-section .products-with-categories .cards-holder .cat-box .image-holder{margin-top: 10px; width: 50%;}
    }

    @media (max-width: 480px) {
        .hero-banner .container .title-group{left: 20px; h1{font-size: 32px;}}
        .hero-banner .overlay-image{right: -50px;}
        .products-section .title-group.horizontal{flex-direction: column; align-items: center; h1{font-size: 28px; text-align: center;} p{text-align: center;}}
        .products-section .products-with-categories .title-group h3{font-size: 24px;}
        .products-section .products-with-categories .products .cards-holder{grid-template-columns: 1fr; max-width: 80%;}
        .products-section .products-with-categories .products .cards-holder .cat-box{height: 230px;}
        .products-section .products-with-categories .cards-holder .cat-box .image-holder{ margin-bottom: 0px; width: 70%;}
    }

    @media (max-width: 376px) {
        .products-section .products-with-categories .products .cards-holder .cat-box{height: 240px;}
        .products-section .products-with-categories .cards-holder .cat-box .image-holder{margin: 10px 0 20px 20px}
        .products-section .products-with-categories .cards-holder .cat-box{padding: 20px;}
        
    }

}
#products-details {
    .title-group {
        gap: 25px; margin:0 auto 70px auto; justify-items: center; max-width: 822px;
        h1 {line-height: 75px;}
    }
    .product-details-section {
        padding-top: 90px;
        &.pouched .table-wrapper {
            margin-bottom: 120px;
            table tbody {height: 370px;}
        }
        &.canned .table-wrapper {
            td { max-width: 20%; width: 100%; }
            tbody td {
                padding: 15px 40px; border-right: 3px solid #00226d;
                &.medium { border: none; }
            }
        }

        .table-wrapper {
            padding: 0 45px;
            overflow-x: scroll;
            table {
                background: white; border-radius: 14px; width: 100%; border-spacing: 0; overflow: hidden; width: 100%; min-width: 600px; box-shadow: 12px 12px 20px rgba(0, 0, 0, 0.9);
                td {max-width: 33%; width: 100%;}
                thead {
                    background: var(--primary-color); color: white; height: 85px;
                    tr { font-size: 20px; font-weight: 500; text-align: center;}
                    
                    
                }
                tbody {
                    tr:not(:last-child) td {border-bottom: 3px solid #00226d;}
                    tr {
                        font-size: 20px; line-height: 28px; color: #00226d; font-weight: 500; 
                        
                        td {
                            text-align: center; font-weight: 600; padding: 38px 40px;
                            p {max-width: 350px; margin: auto;}
                            &:not(:last-child) {border-right: 3px solid #00226d;}
                            &.medium p {max-width: 275px; margin: auto}
                        }
                    }
                }
            }

            &.bordered{
                table{ border-collapse: collapse; border-radius: 0; 
                    thead{

                        th {background: #0054bc; border: 1px solid white; font-size: 34px;}
                        th:nth-child(1) {width: 60%;}
                    }
                    tbody {
                        
                        tr td {border: 0; padding: 20px 20px;}
                        tr:last-child td {padding-bottom: 50px;}
                    }
                }

                @media (max-width:1024px) {
                    table{ border-collapse: collapse; border-radius: 0; 
                        thead{
    
                            th {background: #0054bc; border: 1px solid white; font-size: 20px;}
                        }
                    }
                }
            }

        }
    }

    // @media (max-width: 1440px) {
    //     .product-details-section .table-wrapper{padding: 0 20px;}
    // }

    @media (max-width: 1280px) {
        //.hero-banner .container .title-group{left: 60px; h1{font-size: 60px;}}
        .product-details-section .table-wrapper {padding: 0;}
    }
    @media (max-width: 1024px) {
        .product-details-section{padding: 30px 0 50px;}
        //.hero-banner .container .title-group h1{font-size: 50px;}
        .product-details-section.pouched .table-wrapper {
            margin-bottom: 0;
            table tbody { height: 300px;}
        }
        .product-details-section .table-wrapper.bordered table tbody tr{td{padding: 10px 0}; &:last-child{td{padding-bottom: 20px;}}}
    }

    @media (max-width: 875px) {
//        .hero-banner .container .title-group {left: 20px; h1{font-size: 42px;}}
        .product-details-section .table-wrapper table tbody tr td:not(:last-child){padding: 10px; font-size: 16px; border-width: 2px;}
        .product-details-section .table-wrapper table tbody tr td:last-child{padding: 10px; font-size: 16px; border-width: 2px;}
        .title-group{margin-bottom: 20px; gap: 0px;}
        .product-details-section{padding-top: 20px;}
        .product-details-section .table-wrapper table thead{height: 60px; tr{font-size: 14px;}}
    }

    @media (max-width: 480px) {
        .product-details-section .table-wrapper table tbody tr td:not(:last-child){font-size: 14px; padding: 0px;}
        .product-details-section .table-wrapper table tbody tr td:last-child{padding: 10px; font-size: 14px; border-width: 2px;}
    }
}