#share-info{
    .box-container{display: grid; gap: 36px; grid-template-columns: 1fr 1fr 1fr; overflow: hidden;
        .box{display: grid; align-content: center; background: #0054bc; padding: 60px 80px; &.red{background: var(--primary-red);} &.pink{background: #f73f40 }; }
        .title-group{h1{font-size: 9vw; font-family: "AvenirCondencedItalic";}gap: 10px; margin-bottom: 0px; display: flex;}
    }

    
    .share-content{ 
        width: 100%;
        background: #a9ccf0;
        .container{padding: 0; }
        .content-data{
            overflow: hidden;
            padding: 70px 0px;
            background: var(--primary-dark);
           // background-image: url("../images/backgrounds/corporate-bg2.jpg");
            .title-group{padding: 0 30px; }
            .box-container{grid-template-columns: 2fr 4fr; overflow:initial; /*transform: scale(1.1)*/; padding: 40px 0; gap: 0px;}
            .box{ position: relative; padding: 40px 0px; width: calc(100% + 110px); justify-content: flex-start; transform: none; clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%);
                //.title{font-size: 100px;}
                &.blue{justify-content: center; top: 80px; width: calc(100% + 110px); left: -20px; clip-path: polygon(13% 0%, 100% 0%, 100% 100%, 2% 100%); .title-group{flex-direction: column; .description-holder{p{font-size: 36px;}}}}
            }
           
        }

        .grid-container{
            background: var(--primary-dark);
            padding: 0 20px 60px 20px;
            .box-grid{
                padding: 80px 60px;
                display: grid; gap:10px; grid-template-columns:  repeat(auto-fill, minmax(200px, 1fr));
                row-gap: 40px;


                .property-box{
                    display: grid; font-family: 'AvenirHeavyDemiCondenced'; box-shadow: 2px 2px 6px #000;
                    .box-title{
                        text-align: center;  padding: 10px 20px; color: white; text-transform: uppercase; font-size: 28px;
                    }
                    .box-value{
                        text-align: center; font-weight: 700; background-color: white; padding: 20px; font-size: 20px;
                    }

                    //&:nth-child(even){.box-title{}}
                }

            }
        }
        .bottom-logo{
            display: flex;
            justify-content: center;
            img{width: 160px;}
        }
    }


    @media (max-width: 1300px) {
        .share-content .grid-container .box-grid{padding: 40px}
        
    }

    @media (max-width: 1280px) {
        //.share-content .content-data .box.blue{left: -10px}
        .share-content .grid-container .box-grid{padding: 40px}
    }


    @media (max-width: 1152px) {
        .box-container .title-group h1{font-size: 8vw;}
    }

   
    @media (max-width: 1024px) {
        .share-content .content-data .title-group{img{width: 120px;}}
        .share-content .content-data .box{width: calc(100% + 80px);}
        .share-content .content-data .box.blue .title-group .description-holder p{font-size: 24px;}
    }
    

    @media (max-width: 768px) {
        .share-content .content-data .box-container{padding-top: 20px;}
        .share-content .content-data{padding: 20px 0;}
        .share-content .content-data .title-group img{width: 80px;}
        .share-content .bottom-logo img{width: 100px;}
        .share-content .grid-container .box-grid{padding: 40px 20px; gap: 20px;}
    }

    @media (max-width: 650px) {
        .share-content .content-data .box{width: calc(100% + 40px); padding: 30px 0 40px;}
        .share-content .content-data .title-group img{width: 60px;}
        .box-container .title-group h1{font-size: 7vw;}
        .title-group .description-holder p{max-width: 500px;}
    }

    @media (max-width: 480px) {
        .share-content .content-data .box-container{grid-template-columns: 1fr; gap: 20px; padding: 20px}
        .share-content .content-data .box.blue{top: 0}
        .box-container .title-group h1{font-size: 12vw;}
        .share-content .grid-container .box-grid{padding: 0 0 20px;}
        .share-content .grid-container{padding: 15px;}
        .share-content .bottom-logo img{width: 80px;}
    }

    @media (max-width: 430px) {
    }

    @media (max-width: 380px) {
        .share-content .grid-container .box-grid{padding: 0px 0px 20px; row-gap: 10px;}

    }
}


