#brand-page{
    .container{padding: 0;}
    background-color: #0C2F65;
    .gold-bg {
        background-color: #0C2F65;
    }
    .g-hero-banner{
        background-color: #0D3674;
        background-image: url('../images/banners/super-fish/fishes-bg.jpg');
        position: relative;
        .banner-container{
            display: flex;
            gap: 20px;;
            align-items: center;
            
            .banner-logo{
                width: 30%;
                display: flex;
                justify-content: center;
                padding-left: 80px;
                img{
                    width: 100%;
                    height: fit-content;
                    margin-top: -200px;
                    margin-left: 40px;
                }
            }
            .image-container{
                width: 70%;
                margin-left: 20px;
                 .banner-image{
                    width: 100%;
                    height: auto;
                }
            }
        }
        .banner-text{
            padding: 0px 80px;
            text-align: center;
            font-size: 28px;
            margin-top: -20px;
            color: #ffffff;
           

            .brand-story{
                margin: 0; line-height: 2;
                overflow: hidden;
            }
            .btn-container{
                display: flex;
                justify-content: center;
                .btnReadMore{
                    margin-top: 20px;
                    font-size: 20px;
                    cursor: pointer;
                    border: 2px solid #ffffff;
                    border-radius: 5px;
                    width: fit-content;
                    padding: 15px 30px;
                    &:hover{
                        background-color: #ffffff44;
                    }
                }
            }
            
        }

        .feature-wrapper{
            position: relative;
            margin-top: 90px;
            .curve-top{
                width: 100%;
                height: fit-content;
            }
        
            .feature-content{
                display: flex;
                background-color: #ffffff;
                gap: 40px;
                margin-top: -5px;
                overflow-x: clip;

                .feature-image{
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 30%;
                    //overflow-x: clip;
                    img{
                        width: 100%;
                        height: fit-content;
                        top: 50%;
                    }
                    .first-image, .second-image{
                        position: absolute;
                        top: 50%;
                        right: 0;
                        width: auto;
                        height: 135%;
                    }
                    .first-image{transform: translateX(7%) translateY(-51%);}
                    .second-image{ height: 140%; transform: translateX(42%) translateY(-60%);}
                }
                .feature-txt-content{
                    width: 60%;
                    padding: 80px 0;
                    display: flex;
                    align-items: center;
                    h2{
                        text-align: center;
                        font-size: 92px;
                        line-height: 1.4;
                        font-family: 'AvenirBold';
                        color: #20A9E0;
                        margin-bottom: 40px;
                    }
                }
            }
        }
    }

 

    .varients{
        margin-top: -5px;
       .gold-bg{
            padding: 50px 120px;
            text-align: center;
            h2{
                font-size: 52px;
                font-family: 'AvenirBold';
                color: #ffffff;
                //margin-bottom: 40px;
            }

            h3{
                font-size: 36px;
                font-family: 'AvenirBold';
                font-style: italic;
                color: #ffffff;
                margin: 10px 0 40px;
            }

            .cards-container{
                .varient-card{
                    &:nth-child(even){
                        margin-right: 40px;
                        background-color: #ffffff;
                        .card-text{
                            .varient-title{color: #20A9E0!important;}
                            .table-shadow{
                                table tbody tr{ background-color: #E1E1E1; }
                            }
                        }
                    }


                    width: 100%;
                    border-radius: 50px;
                    background-color: #20A9E0;
                    padding: 30px 40px;
                    margin-bottom: 30px;
                    .card-top{
                        display: flex;
                        gap: 50px;
                        .v-img{
                            width: 350px;
                            height: fit-content;
                            border-radius: 4px;
                        }
                        .card-text{
                            color: white;
                            align-self: center;
                            text-align: left;
                            width: 100%;
                           // margin: 0 40px;
                            .varient-title{
                                color: #ffffff;
                                font-family: 'AvenirBold';
                                font-size: 44px;
                                margin-bottom: 20px;
                                line-height: 1;
                            }
                            .table-shadow {
                                //box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.35);
                                border-radius: 12px;
                                overflow: hidden; /* clips table corners */
                                background: #fff;
                            }
                            table{
                                width: 100%;
                                text-align: center;
                                border-collapse: separate; /* important! */
                                border-spacing: 0;         /* remove gaps */
                                border-radius: 8px;       /* rounded corners */
                                overflow: hidden;      
                                thead{
                                    color: white;
                                    background-color: #1554A3;
                                    tr{
                                        th{
                                            font-family: 'AvenirBold';
                                            font-size: 18px;
                                            padding: 10px 30px;
                                            border: none;
                                        }
                                    }
                                }
                                tbody{
                                    tr{
                                        background-color: white;
                                        color: #232323;
                                        td{
                                            font-family: 'AvenirDemi';
                                            font-size: 18px;
                                            padding: 40px 10px;
                                            border-spacing: 2;         /* remove gaps */
                                            border-left: 2px solid #232323;

                                            &:first-child{
                                                border-left: none; /* Remove left border for the first cell */
                                                border-spacing: 0;
                                            }
                                            
                                        }
                                    
                                    }
                                }
                            }

                            .card-description{
                                font-size: 26px;
                                margin-top: 25px;
                            }
                        }
                    }
                }
            }
        }
    }


   @media (max-width: 1152px) {
        .g-hero-banner .feature-wrapper .feature-content .feature-txt-content h2{font-size: 72px;}
        .g-hero-banner .banner-text p{font-size: 24px; margin: 0;}
        .g-hero-banner .feature-wrapper .feature-content .feature-image .first-image{ height: 125%; }
        .g-hero-banner .feature-wrapper .feature-content .feature-image .second-image{ height: 145%; transform: translateX(50%) translateY(-55%); }

        .varients .gold-bg h2{font-size: 40px;}
        .varients .gold-bg h3{font-size: 28px;}
        .varients .gold-bg .cards-container .varient-card .card-top .card-text{padding: 0; margin: 0}
        .varients .gold-bg .cards-container .varient-card .card-top .v-img{width: 220px;}

        .varients .gold-bg {
            padding: 30px 80px;
            .cards-container .varient-card .card-top {
                //img{ width: 180px; }
                .card-text {
                    .varient-title { font-size: 32px; }
                }
            }
        }
    }

    @media (max-width: 1024px) {
        .g-hero-banner .banner-container .banner-logo img{margin-top: -150px;}
        .g-hero-banner .feature-wrapper .feature-content .feature-image .first-image{ height: 130%; }
        .g-hero-banner .feature-wrapper .feature-content .feature-image .second-image{ height: 170%; transform: translateX(40%) translateY(-60%); }
        
        .g-hero-banner .feature-wrapper .feature-content .feature-txt-content{padding: 30px 0;}
        .g-hero-banner .feature-wrapper .feature-content .feature-txt-content h2{font-size: 52px; margin-bottom: 30px;}
        .g-hero-banner .feature-wrapper{margin-top: 40px;}
        .varients .gold-bg{padding: 30px 60px;}
        .varients .gold-bg .cards-container .varient-card{padding: 15px 20px; margin-bottom: 20px; border-radius: 30px; }
        .varients .gold-bg .cards-container .varient-card .card-top .card-text table tbody tr td{padding: 20px 10px;}
    }

    @media (max-width: 870px) {
        .g-hero-banner .banner-container .banner-logo img{margin-top: -120px; margin-left: 0;}
        
        .g-hero-banner .banner-text .brand-story{font-size: 22px; line-height: 1.8;}
        .g-hero-banner .feature-wrapper .feature-content .feature-txt-content{padding: 20px 0;}
        .g-hero-banner .feature-wrapper .feature-content .feature-txt-content h2{font-size: 54px; margin-bottom: 20px;}
        .varients .gold-bg .cards-container .varient-card .card-top{gap:30px;}
        .varients .gold-bg .cards-container .varient-card .card-top .card-text table thead tr th{font-size: 12px;}
        .varients .gold-bg .cards-container .varient-card .card-top .card-text table tbody tr td{font-size: 12px;}
        .varients .gold-bg .cards-container .varient-card .card-top .card-text .card-description{font-size: 20px; margin-top: 15px;}
    }

    @media (max-width: 768px) {
        .g-hero-banner .banner-container .banner-logo img{margin-top: -90px;}
        .g-hero-banner .banner-container{gap: 40px;}
        .g-hero-banner .banner-container .banner-logo{padding-left: 30px;}
        .g-hero-banner .feature-wrapper .feature-content .feature-txt-content h2{font-size: 42px; margin-bottom: 20px;}
        .g-hero-banner .banner-text{padding: 20px 60px}
        .g-hero-banner .feature-wrapper{margin-top: 30px;}
        .varients .gold-bg h2{font-size: 32px;}
        .varients .gold-bg h3{font-size: 22px;}
        .varients .gold-bg{padding: 30px 30px 10px}
        .varients .gold-bg .cards-container .varient-card .card-top .card-text .varient-title{font-size: 24px;}
        .varients .gold-bg .cards-container .varient-card .card-top .v-img{width: 180px;}
        .varients .gold-bg .cards-container .varient-card{border-radius: 25px;}
        .varients .gold-bg .cards-container .varient-card .card-top .card-text table tbody tr td{padding: 10px;}
        .varients .gold-bg .cards-container .varient-card .card-top .card-text .table-shadow{box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.35)}
        .varients .gold-bg .cards-container .varient-card .card-top .card-text .card-description{font-size: 16px; margin-top: 10px;}
    }

    @media (max-width: 650px) {
        .g-hero-banner .banner-container {gap: 0;}
        .g-hero-banner .banner-container .image-container{margin-top: 20px; margin-left: 0;}
        .g-hero-banner .banner-container .image-container img{ height:420px!important; width: fit-content!important;}
        .g-hero-banner .banner-text .brand-story{font-size: 18px; line-height: 2.3;}
        .g-hero-banner .banner-container .banner-logo img{margin-top: 0;}
        .g-hero-banner .banner-text .btn-container .btnReadMore{padding: 10px 20px; font-size: 16px;}
       // .g-hero-banner .feature-wrapper .feature-content .feature-image .first-image{height: 140%;}
       // .g-hero-banner .feature-wrapper .feature-content .feature-image .second-image{height: 130%;}
        .g-hero-banner .feature-wrapper .feature-content .feature-txt-content h2{font-size: 36px; margin-bottom: 20px;}
        .g-hero-banner .feature-wrapper .feature-content .feature-txt-content{padding: 10px 0;}
        .g-hero-banner .feature-wrapper .feature-content .feature-txt-content h2{font-size: 24px; margin-bottom: 10px;}
        .g-hero-banner .feature-wrapper .feature-content .feature-txt-content{padding: 10px 0;}

        .varients .gold-bg .cards-container .varient-card .card-top .v-img{width: 140px;}
        .varients .gold-bg .cards-container .varient-card .card-top .card-text table thead tr th{padding: 5px 10px; font-size: 10px;}
        .varients .gold-bg .cards-container .varient-card .card-top .card-text table tbody tr td{padding: 5px 10px; font-size: 10px;}
        .varients .gold-bg{padding: 20px 40px}
    }

    @media (max-width: 480px) {
        .g-hero-banner .banner-text{padding: 10px 30px;}
        .g-hero-banner .banner-container .image-container img{ height:280px!important; width: fit-content!important;}
        .g-hero-banner .banner-text .brand-story{font-size: 14px; line-height: 2;}


        .varients .gold-bg h2{font-size: 24px;}
        .varients .gold-bg h3{font-size: 16px; margin: 10px 0;}

        .varients .gold-bg .cards-container .varient-card .card-top .card-text .varient-title{font-size: 18px; text-align: center;}
        .varients .gold-bg .cards-container .varient-card .card-top{
            flex-direction: column; align-items: center; 
        }
        .varients .gold-bg .cards-container .varient-card .card-top .v-img{width: 100px;}
        .varients .gold-bg .cards-container .varient-card{padding: 10px; border-radius: 15px;}
        .varients .gold-bg .cards-container .varient-card .card-top{padding: 0; gap: 10px;}
        .g-hero-banner .feature-wrapper .feature-content .feature-txt-content h2{font-size: 26px; margin-bottom: 10px;}
        .g-hero-banner .feature-wrapper .feature-content .feature-txt-content{padding: 10px 0;}
        .varients .gold-bg{padding: 20px}
        .varients .gold-bg .cards-container .varient-card .card-top .card-text .card-description{font-size: 12px; margin-top: 10px;}
    }

    @media (max-width: 430px) {
        .g-hero-banner .banner-container .image-container img{ height:250px!important; width: fit-content!important;}
        .g-hero-banner .banner-text .brand-story{font-size: 14px; line-height: 2;}

        .g-hero-banner .feature-wrapper .feature-content .feature-txt-content h2{font-size: 22px;}
        .varients .gold-bg h2{font-size: 18px;}
        .varients .gold-bg h3{font-size: 14px;}
    }

}


